<div class="content">
  <div class="inner">
    <h2 class="title"><%= t('admin.groups.form.show') %></h2>

    <dl class="list">
      <dt><%= t("admin.groups.columns.name")           %></dt>
      <dd><%= @record.name                             %></dd>

      <% if @record.description                        %>
        <dt><%= t("admin.groups.columns.description")  %></dt>
        <dd><%= @record.description                    %></dd>
      <% end %>

      <dt><%= t("admin.groups.columns.mailable")       %></dt>
      <dd>
        <% if @record.mailable.nil? %>
          <p class="tick">
        <% else %>
          <p class="cross">
        <% end %>
        <%= @record.mailable %></p>
      </dd>

      <dt><%= t("admin.groups.columns.user_choosable") %></dt>
      <dd>
        <% if @record.user_choosable.nil? %>
          <p class="tick">
        <% else %>
          <p class="cross">
        <% end %>
        <%= @record.user_choosable %></p>
      </dd>

      <% if @record.groups.count > 0                   %>
        <dt><%= t("admin.groups.columns.groups")       %></dt>
        <dd>
          <ul>
            <% @record.groups.each do |group| -%>
              <li><%= group.name %></li>
            <% end -%>
          </ul>
        </dd>
      <% end %>

      <% if @record.direct_users.count > 0             %>
        <dt><%= t("admin.groups.columns.direct_users") %></dt>
        <dd>
          <ul>
            <% @record.direct_users.each do |user| -%>
              <li><%= user.name %></li>
            <% end -%>
          </ul>
        </dd>
      <% end %>
    </dl>

    <ul class="buttons">
      <li><%= link_to t("admin.groups.form.close_button"), admin_groups_path, :class => 'button negative' %></li>
    </ul>
  </div>
</div>
