<%= render :partial => 'shared/layout_head' %> 

<body>
  <div id="container">
    <div id="bg-top-back">
      <div class="secondary-wrapper">
        <a href="/"><div id="logo"></div></a>

        <div id="target"></div>

        <span class="options">
          <% if logged_in? %>
            <% if @current_user.small_name %>
              <%= link_to @current_user.small_name, user_account_path                                            %> |
            <% else %>
              <%= link_to @current_user.email, user_account_path                                                 %> |
            <% end %>
            <% if permitted_to? :read, :admin_dashboard %>
              <%= link_to t('navigation.administration'), admin_root_path %> |
            <% end %>
            <%= link_to t('user_session.bar.logout'), user_logout_path                                           %>
          <% else %>
            <%= link_to t("user_session.bar.signin"), new_user_session_path                                      %> |
            <%= link_to t("user_session.bar.signup"), new_user_account_path                                      %>
          <% end %>
        </span>
   
        <div id="menu"><%= frontend_navigation_content %></div>
      </div>
    </div>

    <div id="bg-top-front">
      <div class="secondary-wrapper">
        <div id="man-and-arrows"></div>

        <%= render :partial => 'announcements/announcement' %>
      </div>
    </div>

    <div id="primary-wrapper">
      <div id="main" class="selfclear">
        <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
        <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
        <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

        <div id="content" class="<%= yield(:categories) ? 'double' : 'single' %>">
          <%= yield %>
        </div>
        <%= yield :categories %>

        <% if yield(:categories) %>
          <div id="organization">
            <h2 class="title">Organização</h2>
            <div id="organization-logos">
              <a href="http://aac.pt"><div id="aac-logo" class="organization-logo"></div></a>
              <a href="http://aauav.pt"><div id="aauav-logo" class="organization-logo"></div></a>
              <a href="http://aaum.pt"><div id="aaum-logo" class="organization-logo"></div></a>
              <a href="http://aautad.utad.pt"><div id="aautad-logo" class="organization-logo"></div></a>
              <a href="http://aefcup.pt"><div id="aefcup-logo" class="organization-logo"></div></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="sponsors">
      <h2 class="title">Apoios</h2>
      <hr />
      <div id="sponsors-logos">
        <div id="" class="sponsor-logo"></div>
        <div id="" class="sponsor-logo"></div>
        <div id="" class="sponsor-logo"></div>
        <div id="" class="sponsor-logo"></div>
        <div id="" class="sponsor-logo"></div>
      </div>
    </div>

    <%= render :partial => 'shared/footer_pt' %>
  </div>
</body>
</html>
