<ol class="commentlist">
  <% commentable.approved_comments.each do |_comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= _comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => _comment} %>
  </li>
  <% end -%>
</ol>

<% unless current_user -%>
  <h3><%= I18n::t('comments.log_in_to') %></h3>
<% else -%>

  <h2><%= I18n::t('comments.title') %></h2>
  <% form_for([commentable, comment]) do |form| %>
    <div>
      <%= form.hidden_field 'type', :value => commentable.class %>
      <p><%= form.text_area 'body' %><br><small><%= I18n::t('comments.hint') %></small></p>
      <fieldset class="buttons">
        <ol>
          <li class="commit">
          <p><%= submit_tag I18n::t('comments.submit'), :class => "create" %></p>
          </li>
        </ol>
    </div>
  <% end -%>

<% end -%>
