<cite><%= link_to comment.user.nickname_or_first_and_last_name, user_account_path(comment.user_id) %></cite> <%= I18n::t('comments.says') %>
<br>
<small class="commentmetadata"><a href="#comment-<%= comment.id %>" title=""><%= format_comment_date(comment.created_at) %></a></small>
<span class="avatar"><%= image_tag avatar_url(comment.user, :size => :small), :alt => '' %></span>
<p><%=raw comment.body_html %></p>
