<script>
jQuery(document).ready(function($){
  $("div.votes a").click(function(event){
    $.ajax({
      type: 'GET',
      url: $(this).attr("href"),
      error: function() {
        $(".flash").renderFlash("notifier.actions.failure", "error", {"action":"vote"});
        return false;
      }
    });
    
    event.preventDefault();
  });
});
</script>


<% content_for :head do %>
  <meta property="og:title" content="<%= recipe.name %>"/> 
  <meta property="og:image" content="http://<%= request.host+recipe.image.multi_purpose_image.url(:thumb) %>"/> 
  <meta property="og:type" content="food" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="<%= configatron.title %>" />
<% end %>

<div class="votes">
  <% 1.upto(5) do |star| %>
    <%= link_to star, recipe_path(recipe)+"?vote=#{star}" %>
  <% end %>
</div>