<% content_for :head do %>
  <meta property="og:title" content="<%= recipe.name %>"/> 
  <meta property="og:image" content="http://<%= request.host+recipe.image.multi_purpose_image.url(:thumb) %>"/> 
  <meta property="og:type" content="food" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="<%= configatron.title %>" />
<% end %>

<% vote = recipe.has_vote_by(current_user).vote if recipe.has_vote_by(current_user) %>

<div class="votes">
  <% 1.upto(5) do |star| %>
    <%= link_to star, recipe_path(recipe)+"?vote=#{star}", :class => (vote) ? ((star <= vote) ? "voted" : "not-voted") : "not-voted" %>
  <% end %>
</div>