<div id="recipes">
  <h2 class="title"><%= t 'admin.recipes.index.title' %></h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= t 'recipes.index.number_of_people' %></th>
        <th><%= t 'recipes.index.duration_in_minutes' %></th>
        <th><%= t 'recipes.index.difficulty' %></th>
        <th><%= t 'recipes.index.votes' %></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <th><%= recipe.name %></th>
          <th><%= recipe.number_of_people %></th>
          <th><%= recipe.duration_in_minutes %></th>
          <th><%= recipe.recipe_dificulty.name %></th>
          <th></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>