<div id="recipes">
  <h2 class="title"><%= t 'admin.recipes.index.title' %></h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= t 'recipes.index.number_of_people' %></th>
        <th><%= t 'recipes.index.duration_in_minutes' %></th>
        <th><%= t 'recipes.index.difficulty' %></th>
        <th><%= t 'recipes.index.votes' %></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, recipe_path(recipe)  %></td>
          <td><%= link_to recipe.number_of_people, recipe_path(recipe) %></td>
          <td><%= link_to recipe.duration_in_minutes, recipe_path(recipe) %></td>
          <td><%= link_to recipe.recipe_dificulty.name, recipe_path(recipe) %></td>
          <td><%= link_to recipe.voting_average, recipe_path(recipe) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>