<div id="recipe">
  <h2 class="title"><%= t 'recipes.title' %></h2>

  <img id="recipe-image" src="<%= @recipe.image.multi_purpose_image.url %>" alt="" />

  <div id="recipe-header">
    <h3 class="name"><%= @recipe.name %></h3>

    <span class="category"><%= @recipe.recipe_category.name %></span>

    <%= render "voting", :recipe => @recipe %>

    <ul>
      <li><span class="number-of-people"><%= @recipe.number_of_people %> <%= t 'recipes.show.number_of_people' %></span></li>
      <li><span class="duration-in-minutes"><%= @recipe.duration_in_minutes %></span></li>
      <li><span class="difficulty"><%= @recipe.recipe_dificulty.name %></span></li>
    </ul>

    <%= render "widgets/sharing", :tweet_text => @recipe.name %>
  </div>

  <%= @recipe.preparation_description %>

  <%= link_to t('recipes.form.cancel_button'), recipes_path, :class => 'button negative' %>
</div>

