<div class="block">
  <h3><%= t("admin.dashboard.sidebar.title") %></h3>
  <div class="content">
    <p><%= t("admin.dashboard.sidebar.paragraph") %></p>
    <ul class="navigation">
      <li><%= link_to t("admin.dashboard.sidebar.go_to_frontend"), '/' %></li>
    </ul>
  </div>
</div>

<div class="block">
  <h3><%= t("admin.dashboard.sidebar.website_management.title") %></h3>
  <div class="content">
    <ul class="navigation">
      <li><%= link_to t("admin.dashboard.sidebar.website_management.manage_announcements"), admin_announcements_url %></li>
      <li><%= link_to t("admin.dashboard.sidebar.website_management.manage_posts"), admin_posts_url %></li>
      <li><%= link_to t("admin.dashboard.sidebar.website_management.manage_pages"), admin_pages_url %></li>
    </ul>
  </div>
</div>

<div class="block">
  <h3><%= t("admin.dashboard.sidebar.system_management.title") %></h3>
  <div class="content">
    <ul class="navigation">
      <li><%= link_to t("admin.dashboard.sidebar.system_management.manage_user_accounts"), admin_users_url %></li>
      <li><%= link_to t("admin.dashboard.sidebar.system_management.manage_groups"), admin_groups_url %></li>
      <li><%= link_to t("admin.dashboard.sidebar.system_management.configure_settings"), admin_settings_url %></li>
    </ul>
  </div>
</div>
