<div class="block">
  <h3><%= t("admin.dashboard.sidebar.title") %></h3>
  <div class="content">
    <p><%= t("admin.dashboard.sidebar.text") %></p>
  </div>
  <ul class="navigation">
    <li><%= link_to t("admin.dashboard.sidebar.go_to_frontend"), '/' %></li>
  </ul>
</div>

<div class="block">
  <h3>User management</h3>
  <ul class="navigation">
    <li><%= link_to t("admin.dashboard.sidebar.user_management.manage_user_accounts"), admin_users_url %></li>
    <li><%= link_to t("admin.dashboard.sidebar.user_management.manage_groups"), admin_groups_url %></li>
  </ul>
</div>

<div class="block">
  <h3><%= t("admin.dashboard.sidebar.settings.title") %></h3>
  <ul class="navigation">
    <li><%= link_to "Manage #{configatron.site_name} settings", admin_settings_url %></li>
  </ul>
</div>
