<% content_for :header do -%> <%= configatron.site_name %> Administrations <% end -%>

<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title"><%= t("web-app-theme.all", :default => "Dashboard") %></h2
      <p><%= I18n::t("admin.dashboard.text") %></p>

      <% if configatron.debug_bar == "true" %>
	  <% semantic_form_for current_user,:url => update_current_user_sys_admin_path,:html => {:method => :put} do |form| -%>	
        <%= form.input :role, :required => false  %>
	    <% form.buttons do -%>
	      <%= form.button      :label => I18n::t('admin.users.form.update_button'),
	                           :button_html => { :class => 'button positive' } %>
		  <% end -%>
		<% end -%>
	  <% end -%>
    </div>
  </div>
</div>

