<% content_for(:head) do -%>
  <%= javascript_include_tag 'edit_preview' %>
<% end -%>

<div class="content">
  <div class="inner">
    <div class="header">	
      <h2><%= t("admin.to_do.comment.title", :list => @todo.to_do_list.name) %></h2>

      <% if @todo.done? %>
        <div id="todo" class="done">
          <% if @todo.finished_date? %>
            <span class="due-date"><%= l(@todo.finished_date, :format => :medium) %></span>
          <% end %>
      <% else %>
        <div id="todo" class="not-done">
          <% if @todo.due_date? %>
            <span class="due-date"><%= l(@todo.due_date, :format => :medium) %></span>
          <% end %>
      <% end %>
	  <% if @todo.user %>
          <span class="responsible"><%= @todo.user.name %>:</span>
	  <% end %>
          <span class="description"><%= @todo.description %></span>
        </div>
    </div>
  <hr />
  <div id="comments">
    <% @todo.comments.each do |comment| %>
      <div id="comment-<%= comment.id %>" class="comment">
	    <div class="avatar"><%= image_tag avatar_url(comment.user,:size => :small) %></div>
	    <% classStr = (comment.user && comment.user == current_user) ? "comments_meta highlight" : "comments_meta" %>
	    <div class="<%= classStr %>">
	      <span class="name"><%= (comment.user) ? comment.user.name : t("admin.to_do_comment.deleted_user") %></span>
	      <span class="date"><%= l(comment.created_at, :format => :default) %></span>
	    </div>
	    <span class="text">
          <%= comment.body_html %>
        </span>
        <% if !comment.generic_file_name.nil? %>
          <div class="attachment">
		    <span class="attachment_icon">
			  <% if comment.generic.content_type =~ /^image\// %>
			    <%=  file_icon_displayer(comment.generic) %>
		     <% else %>
		        <%= image_tag "#{root_url}images/icons/page_attach.png" %>
		     <% end %>
		    </span>
		    <span class="attachment_name"><%= comment.generic_file_name %></span>
		    <span class="attachment_download"><%= button_to t("admin.to_do_comment.attachment_download"), :controller => 'to_do_comments', :action => "download", :id => comment.id %></span>
	      </div>
	    <% end %>
      </div>
      <hr />
    <% end %>
  </div>
  <div class="new-comment">
	<% semantic_form_for @comment, :url => admin_project_to_do_comments_path(params[:project_id],@todo.id), :html => {:method => :post, :multipart => true } do |f| %>
	  <% f.inputs do %>
	    <%= f.input :body, :as => :text, :label => t("admin.to_do_comment.new.body") %>
	    <%= f.input :users, :as => :check_boxes, :collection => @project.users.uniq, :label => t("admin.to_do_comment.new.users"), :required => false %>	
		<%= f.input :generic, 
		            :as => :file, 
		            :label => t("admin.to_do_comment.new.file"), 
		            :hint => t("admin.to_do_comment.new.file_hint"),
		            :required => false %>
	    
	  <% end  %>
	  <% f.buttons do %>
            <%= f.commit_button :label => t('admin.to_do_comment.new.create_button'),
                                :button_html => { :class => 'button positive' } %>
	    <%= f.button_link t('admin.to_do_comment.new.preview_button'), '#new_to_do_comment',
                              :button_html => { :class => 'button positive preview' } %>
	    <%= f.button_link t('admin.to_do_comment.new.edit_button'), '#new_to_do_comment',
			      :button_html => { :class => 'button positive edit' } %>
	    <%= f.button_link t('admin.to_do_comment.new.cancel'), admin_project_to_do_lists_path(params[:project_id]),
			      :button_html => { :class => 'button negative' } %>
          <% end %>
   <% end %>
  </div>
  </div>
</div>
