<% content_for :head do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.7.custom' %>
<% end %>

<div class="content">
  <div class="inner">
    <h2><%= I18n::t('admin.recipes.form.new') %></h2>
    <% semantic_form_for :recipe, @recipe,
                         :url => admin_recipes_path,
                         :html => { :class => 'create', :id => 'new_recipe', :multipart => true } do |form| -%>
      
      <%= render :partial => 'form', :locals => { :form => form } %>
      
      <% form.buttons do -%>
        <%= form.commit_button I18n::t('admin.recipes.form.create_button'),
                               :button_html => { :class => 'button positive' } %>
        <%= form.button_link   I18n::t('admin.recipes.form.cancel_button'), admin_recipes_path,
                               :button_html => { :class => 'button negative' } %>
      <% end -%>
    <% end -%>
  </div>
</div>
