<% if active_scaffold_config.action_links.any? { |link| link.type == :collection } -%>

<%# Begin override - added code - live search - part 1 %>
  <div class="actions">
    <% href = url_for(params_for(:action => :index, :escape => false).delete_if{|k,v| k == 'search'}) -%>
    <%= form_remote_tag :url => href,
                        :method => :get,
                        :before => "addActiveScaffoldPageToHistory('#{href}', '#{params[:controller]}')",
                        :after => "$('#{loading_indicator_id(:action => :search, :id => params[:id])}').style.visibility = 'visible';",
                        :complete => "$('#{loading_indicator_id(:action => :search, :id => params[:id])}').style.visibility = 'hidden';",
                        :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')",
                        :html => { :action => href, :id => search_form_id, :class => 'search', :method => :get } %>
    <%= text_field_tag :search, params[:search], :class => 'text-input', :id => search_input_id, :size => 50, :autocompleted => :off %>
    <%= loading_indicator_tag(:action => :search) %>
    </form>
  </div>
<%# End override %>

<%# Begin override - added code - actions list select %>
  <div class="actions">
    <% unless active_scaffold_config.row_mark_actions_list.nil? %>
      <select name="dropdownmenu" class="dropdownmenu" default="">
        <option value=""><%= I18n::t('generic_sentence.scaffold_do_actions') %>
        </option>
        <% active_scaffold_config.row_mark_actions_list.each do |option| -%>
          <option value="<%= option %>"><%= I18n::t(active_scaffold_config.internationalization_prefix+"."+option.to_s) %>
          </option>
        <% end -%>
      </select>
    <% end %>
  </div>
<%# End override %>

  <div class="actions">
    <% new_params = params_for(:action => :table) %>
    <% active_scaffold_config.action_links.each :collection do |link| -%>
      <% next if skip_action_link(link) -%>
	  <% next if link.action == 'new' && params[:nested].nil? && active_scaffold_config.list.always_show_create %>
	  <% next if link.action == 'show_search' && active_scaffold_config.list.always_show_search %>
<%# Begin override - added code %>
	  <% next if link.action == 'list_action' %>
<%# End override %>
      <%= render_action_link(link, new_params) -%>
    <% end -%>

    <%= loading_indicator_tag(:action => :table) %>
  </div>

<%# Begin override - added code - live search - part 2 %>
  <script type="text/javascript">
  //<![CDATA[
    new TextFieldWithExample('<%= search_input_id %>', '<%= as_(:live_search) %>', {focus: true});
    new Form.Element.Observer('<%= search_input_id %>', 1.5, function(element, value) {
      if (!$(element.id)) return false; // because the element may have been destroyed
      $(element).up('form').onsubmit();
    });
  //]]>
  </script>
<%# End override %>

<% end %>

<h2><%= active_scaffold_config.list.user.label %></h2>
