<ul id="association">
  <li>
    <span class="label"><%= t('associations.show.name') %></span>
    <span id="name" class="value"><%= @association.name %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.address') %></span>
    <span id="address" class="value"><%= @association.address %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.phone_no') %></span>
    <span id="phone_no" class="value"><%= @association.phone_no %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.postal_code') %></span>
    <span id="postal_code" class="value"><%= @association.postal_code %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.email') %></span>
    <span id="email" class="value"><%= @association.email %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.website') %></span>
    <span id="website" class="value"><%= @association.website %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.fax') %></span>
    <span id="fax" class="value"><%= @association.fax %></span>
  </li>

  <li>
    <span class="label"><%= t('associations.show.consulate') %></span>
    <span id="consulate" class="value"><%= @association.consulate %></span>
  </li>
</ul>
