<%= include_i18n_calendar_javascript %>

<script>
jQuery.noConflict();
  
jQuery(document).ready(function($){
 
  setDatepickerWithTime(true);

  prePopulationData = [];
  
  if(window.location.pathname.indexOf("new")!=-1)
  	$( "#record_groups" ).tokenInput(window.location.href.replace(/\#.*/,"").replace("new","values"),{
		prePopulate: prePopulationData
	});	
  else if(window.location.pathname.indexOf("edit")!=-1)
  {
	jQuery.ajax({
	  	url: window.location.href.replace(/\#.*/,"").replace("edit","pre_populate"),
	  	dataType:'json',
	    type: 'GET',
	  	success: function(data) { 
			$( "#record_groups" ).tokenInput(window.location.href.replace(/\#.*/,"").replace("edit","values"),{
				prePopulate: data
			});
		}
	  });
		
  }	

});
</script>

<% content_for(:head) do -%>
  <%= javascript_include_tag 'edit_preview' %>
<% end -%>

<% form.input_field_set do -%>
  <%= form.input :title,
                 :label    => I18n::t('admin.posts.columns.title') %>

  <%= form.input :body,
                 :as       => :text,
                 :label    => I18n::t('admin.posts.columns.body'),
                 :input_html => { :class    => "textile" },
                 :hint     => I18n::t('admin.posts.form.hints.body').html_safe %>

  <%= form.input :tag_list,
                 :as       => 'string',
                 :required => false,
                 :label    => I18n::t('admin.posts.columns.tag_list'),
                 :hint     => I18n::t('admin.posts.form.hints.tag_list') %>

  <%= form.input :image,
                 :required => false,
                 :as       => :file,
                 :hint     => I18n::t('admin.posts.form.hints.image'),
                 :label    => I18n::t('admin.posts.columns.image') %>
  <% if @record.image.content_type -%>
    <div class="file_icon"><%=  file_icon_displayer(@record.image) %></div>
  <% end -%>
  <% unless @record.new_record? || !@record.image? -%>
    <%= form.input :image_delete,
                   :as       => 'boolean',
                   :required => false,
                   :hint     => t('admin.posts.form.hints.delete_image'),
                   :label    => t('admin.posts.form.delete_image') %>
  <% end -%>

  <%= form.input :generic,
                 :required => false,
				 :as => :file,
                 :hint     => I18n::t('admin.posts.form.hints.generic_file'),
                 :label    => I18n::t('admin.posts.columns.generic_file') %>
  <% if @record.generic.content_type %>
    <div class="file_icon"><%=  file_icon_displayer(@record.generic) %></div>
  <% end %>
  <% unless @record.new_record? || !@record.generic? -%>
    <%= form.input :generic_delete,
                   :as       => 'boolean',
                   :required => false,
                   :hint     => t('admin.posts.form.hints.delete_generic'),
                   :label    => t('admin.posts.form.delete_generic') %>
  <% end -%>

  <%= form.input :published_at,
                 :as       => 'string',
                 :input_html => {:class => "datepicker", :value => l(@record.published_at || Time.now, :format => "%d/%m/%Y %H:%M")},
                 :label    => I18n::t('admin.posts.columns.published_at'),
                 :hint     => I18n::t('admin.posts.form.hints.published_at').html_safe %>  
  <%= form.input :slug,
                 :required => false,
                 :label    => I18n::t('admin.posts.columns.slug'),
                 :hint     => I18n::t('admin.posts.form.hints.slug') %>
  <%= form.input(:minor_edit,
                 :as       => 'boolean',
                 :label    => I18n::t('admin.posts.columns.minor_edit'),
                 :hint     => I18n::t('admin.posts.form.hints.minor_edit')
                 ) unless @record.new_record? %>
  <%= form.input :groups,
				 :required => false,
                 :as    => :string,
 				 :label => t('admin.posts.columns.groups'),
 				 :hint  => t('admin.posts.form.hints.groups') %>
<% end -%>
