<% i_env = "admin.posts.tags" -%>

<% if @tags -%>
  <div class="block">
    <h3><%= t("admin.posts.sidebar.index.title") %></h3>
    <div class="content">
      <p><%= t("admin.posts.sidebar.index.paragraph") %></p>
    </div>
  </div>

  <div class="block">
    <h3>
      <%= I18n::t("#{i_env}.title") %>
      <% if @tags.total_pages > 1 -%>
        <%= will_paginate(@tags, :previous_label => I18n::t("#{i_env}.pagination.previous"),
                                 :next_label     => I18n::t("#{i_env}.pagination.next"),
                                 :param_name     => :tag_page) %>
      <% end -%>
    </h3>
  
    <div class="content">
      <ul class="list">
        <% @tags.each do |tag| %>
        <li id="tag-<%= tag.id %>" class="<%= 'selected' if @tag_ids.include? tag.id.to_s %>">
          <%= tag.name %>
          (<%= link_to(
                 I18n::t("#{i_env}.list.posts." + (tag.taggings_count == 1 ? "one" : "more"), :count => tag.taggings_count),
                 admin_posts_path(:tag_ids => @tag_ids, :this_tag_id => tag.id)
               )
          %>)
          <a class="float-right" href="<%= edit_tag_admin_post_path(tag) %>" onclick='edit_tag_js(<%= tag.id %>, "<%= tag.name %>"); return false;'>
             <%= I18n::t("#{i_env}.list.edit") %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end -%>


<%# Revert Preview, show and delete pages %>
<%# History list %>
<% if (controller.action_name != "edit") and (@history_entry or @record && !@record.new_record?) -%>
  <div class="block">
    <h3><%= t "admin.posts.sidebar.history.title", :name => @record.title %></h3>
    <div class="content">
      <p><%= t("admin.posts.sidebar.history.paragraph") %></p>
      <ul class="options">
        <% history_rows = ( @actual_record || @record ).history_entries_list -%>
        <% if (first_entry = history_rows.shift) -%>
          <li class="<%= 'selected' unless params[:history_entry_id] %>">
            <%= link_to t("generic_sentence.time_ago", {:time_ago => time_ago_in_words(first_entry.created_at)}), 
                        admin_post_path(first_entry.historicable) %>
            <%= first_entry.user_name %>
          </li>
        <% end -%>
        <% history_rows.each do |entry| -%>
          <li class="<%= 'selected' if params[:history_entry_id].to_s == entry.id.to_s %>">
            <%= link_to t("generic_sentence.time_ago", {:time_ago => time_ago_in_words(entry.created_at)}), 
                        admin_post_path(entry.historicable,{:history_entry_id => entry.id}) %>
            <%= entry.user_name %>
          </li>
        <% end -%>
      </ul> 
    </div>
  </div>
<% end -%>

<% if (controller.action_name == "edit")-%>
  <div class="block">
    <h3><%= t "admin.posts.sidebar.edit.title", :name => @record.title %></h3>
    <div class="content">
      <p><%= t("admin.posts.sidebar.edit.paragraph") %></p>
    </div>
  </div>
<% end -%>




<%# History edit preview page %>
<% if @history_entry -%>
  <div class="block notice">
<%# <h3>    t "admin.posts.sidebar.reversion.title"     </h3>  is not coherent with pilu themes! %>
    <h4><%= t "admin.posts.sidebar.reversion.subtitle"%></h4>
    <p><%= t "admin.posts.sidebar.reversion.message"%></p>
    <%= link_to t("admin.posts.sidebar.reversion.link"), admin_history_entries_path({:id => @history_entry.id,
                                                                                     :redirect_url => admin_post_url(@actual_record.id)}),
                                                                                     :method => :post %>
  </div>
<% end -%>

<script type="text/javascript">
  function edit_tag_js(id, old_name) {
    var new_name = prompt(<%= '"' + I18n::t("#{i_env}.edit.prompt") + '"' %> + ' "' + old_name + '"', "");
    if (new_name != null) {
      jQuery.ajax({
        type: "PUT",
        url: "posts/" + id + "/update_tag",
        data: "tag[name]=" + new_name,
        success: function(xmlhttp) {
          eval(xmlhttp);
        }
      });
    }
  }

  function update_record(id, old_name, new_name) {
    var old_line = document.getElementById("tag-" + id).innerHTML;
    var new_line = old_line.replace(new RegExp(old_name + "[ \n]+"), new_name + " ");
    new_line = new_line.replace('"' + old_name + '"', '"' + new_name + '"');
    document.getElementById("tag-" + id).innerHTML = new_line;
  }
</script>
