<% if File.exists?(Rails.root.join("app", "views", params[:controller], "_show_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'show_sidebar' %>
  <% end -%>
<% elsif File.exists?(Rails.root.join("app", "views", params[:controller], "_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'sidebar' %>
  <% end -%>
<% end -%>

<div class="content">
  <div class="inner">
    <h2><%= I18n::t('admin.posts.form.show') %></h2>
    <div id="preview">
      <div class="content">
        <%= render :partial => 'posts/post', :locals => { :post => @record } %>
      </div>
    </div>
    <fieldset class="buttons">
      <li class="commit">
        <%= link_to t('admin.posts.form.close_button'), admin_posts_path, :class => 'button negative',
                                                                          :style => 'font-size:1em;text-decoration:none;margin:10px;' %>
      </li>
    </fieldset>
  </div>
</div>
