<% if File.exists?(Rails.root.join("app", "views", params[:controller], "_update_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'update_sidebar'  %>
  <% end -%>
<% elsif File.exists?(Rails.root.join("app", "views", params[:controller], "_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'sidebar'  %>
  <% end -%>
<% end -%>


  <div class="content">
    <div class="inner">


      <h2><%= I18n::t('admin.posts.form.edit') + ' - ' + link_to(h(@record.title), post_path(@record)) %></h2>

      <% semantic_form_for :record, @record, :url => admin_post_path(@actual_record || @record), :html => {:method => :put, :id => "edit_post_#{(@actual_record || @record).id}"} do |form| -%>
        <%= render :partial => 'form', :locals => {:form => form} %>
        <% form.button_field_set do -%>
          <%= form.commit_button(I18n::t('admin.posts.form.submit')) -%>
        <% end -%>
      <% end -%>
    </div>
  </div>

