<input type="checkbox" 
       id="<%= todo.id %>" 
       value="<%= todo.id %>"
       onclick="jQuery(this).check();" />

<div id="todo_content-<%= todo.id %>" 
	 class="todo_content">
  
  <span class="todo_desc"><%= todo.description %></span>
  
  <% if todo.user || todo.due_date %>
    
    <span class="todo_info">
      <% if todo.user %>
        <span><%= todo.user.name %></span>
      <% end %>

      <% if todo.due_date %>
        <span><%= l(todo.due_date, :format => :medium) %></span>
      <% end %>
    </span>
  <% end %>

  <span class="todo_comments">
    <%= link_to t("admin.to_do.comment.link"),
      new_admin_project_to_do_comment_path(params[:project_id],todo.id), 
      { :id => "comment_#{todo.id}", 
        :class => "comment_item" } %>
  </span>

  <span class="number_comments"><%= todo.comments.size %></span>

  <span class="edit">
    <%= link_to t("admin.to_do.edit.link"),
      "#list_#{todo.to_do_list.id}",
      { :id => "edit_#{todo.id}", 
        :class => "edit_item", 
        :onclick => "jQuery(this).edit();"} %>
  </span>

  <span class="delete">
    <%= link_to t("admin.to_do.delete.link"),
      "#list_#{todo.to_do_list.id}",
      { :id => "delete_#{todo.id}",
        :class => "delete_item",
        :onclick => "jQuery(this).delete();" } %>
  </span>
</div>
