<div id="comments">
  <% @comments.each do |comment| %>
    <div id="comment-<%= comment.id %>" class="comment">
      <% commentator = comment.user %>

      <div class="avatar"><%= image_tag avatar_url(commentator, :size => :small) %></div>

      <span class="author"><%= (commentator) ? commentator.name : t('admin.messages.comments.ghost') %></span>

      <span class="date"><%= l(message.created_at, :format => :default) %></span>

      <%= raw comment.body_html %>
    </div>

    <hr>
  <% end %>

  <% semantic_form_for :record, @record,
                       :url  => admin_project_message_messages_comments_path(params[:project_id], message.id),
                       :html => { :method => 'post' } do |form| -%>
    <% form.input_field_set do -%>
      <%= form.input :body,
                     :label      => I18n::t('admin.messages.comments.comment'),
                     :hint       => I18n::t('admin.messages.form.hints.body').html_safe,
                     :as         => :text,
                     :input_html => {:rows => 5, :cols => 40} %>
                     <%= form.hidden_field :message_id, :value => message.id %>
      <% form.buttons do -%>
        <%= form.commit_button t('admin.messages.form.create_button'),
                               :button_html => {:class => 'button positive'} %>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
