  <% if @messages.empty? %>
    <p><%= I18n::t('admin.messages.index.empty') %></p>
  <% else %>

  <div id="messages">
    <table>
    <% @messages.each do |message| -%>
      <tr id="message-<%= message.id %>">
        <td class="message">
          <span class="title"> <%= link_to message.title, admin_project_message_path(params[:project_id],message.id) %></span>
          <span class="meta">
            <%= message.user.name if message.user %>
            <%= I18n::t('admin.messages.index.author_on_date') %>
            <%= l(message.created_at,:format => :default) %>
          </span>
        </td>
      </tr>
    <% end -%>
    </table>
  </div>  
  <% end %>

