<div id="tag-menu" class="block">
  <h2 class="title"><%= I18n::t('posts.tag_menu.title') %></h2>

  <ul>
    <% if tags_for_cloud.is_a? Array %>
      <% tags_for_cloud.each do |tag| %>
        <% css_class = 'category' %>
        <% classes = (tags && (tags.include? tag.name)) ? (css_class + ' selected') : css_class %>
        <li>
          <%= link_to tag.name, posts_with_tags_path(:tags => tag.name), :class => classes %>
        </li>
      <% end %>
    <% else %>
      <% tags_for_cloud[:primary_results].each do |tag| %>
        <% css_class = 'category' %>
        <% classes = (tags_for_cloud[:primary] == tag.name) ? (css_class + ' selected') : css_class %>
        <li>
          <% if tags_for_cloud[:primary] == tag.name %>
            <%= link_to tag.name, root_path, :class => classes %>
            <ul>
              <% tags_for_cloud[:secondary_results].each do |sec_tag| %>
                <li><%= link_to sec_tag.name, "#", :class => classes %></li>
              <% end %>
            </ul>
          <% else %>
            <%= link_to tag.name, posts_with_tags_path(:tags => tag.name), :class => classes %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>