<% cache("weather_widget", :expires_in => 3.hours) do %>

  <div id="weather-info" class="block">
    <% weather_info_left  = Nokogiri::XML(open("http://weather.yahooapis.com/forecastrss?w=#{left_location_code}&u=c")) %>
    <% weather_info_right = Nokogiri::XML(open("http://weather.yahooapis.com/forecastrss?w=#{right_location_code}&u=c")) %>
  
    <div class="left">
      <% left_location = weather_info_left.xpath('//yweather:location')[0] %>
      <% left_condition = weather_info_left.xpath('//yweather:condition')[0] %>
  
      <span class="location"><%= t "widgets.weather.city.#{left_location['city'].to_s}" %></span>
  
      <span class="temperature"><%= left_condition['temp'].to_s + 'ºC' %></span>
  
      <%= weather_condition_image(left_condition['code']) %>
  
      <span class="condition"><%= t "widgets.weather.condition.c#{left_condition['code'].to_s}" %></span>
    </div>
  
    <div class="right">
      <% right_location = weather_info_right.xpath('//yweather:location')[0] %>
      <% right_condition = weather_info_right.xpath('//yweather:condition')[0] %>
  
      <span class="location"><%= t "widgets.weather.city.#{right_location['city'].to_s}" %></span>
  
      <span class="temperature"><%= right_condition['temp'].to_s + 'ºC' %></span>
  
      <%= weather_condition_image(right_condition['code']) %>
  
      <span class="condition"><%= t "widgets.weather.condition.c#{right_condition['code'].to_s}" %></span>
    </div>
  </div>

<% end %>
