<% content_for :head do %>
  <%= javascript_include_tag 'jquery.easing-1.3.pack',
                             'jquery.fancybox-1.3.4',
                             'jquery.mousewheel-3.0.4.pack' %>
  
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4' %>
<% end %>

<div id="gallery">
  <% @albums.each do |album| %>
    <div class="album">
      <a href="<%= album_path(album) %>">
        <% if album.images.empty? %>
          <img class="thumb" src="/assets/images/thumbs/<%= album.cover %>">
        <% else %>
          <img class="thumb" src="<%= album.images[0].multi_purpose_image.url(:small)%>">
        <% end %>
        <span class="name"><%= album.name %></span>
      </a>
      <% if permitted_to? :as_manage, :admin_users %>
        <a class="edit-link" href="<%= edit_admin_album_path(album) %>">
          <%= t('gallery.edit') %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>