<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= configatron.site_name %></title>

  <%= stylesheet_link_tag 'shared/reset', :media => 'screen'                                    %>
  <%= stylesheet_link_tag '/markitup/skins/markitup/style',
                          '/markitup/sets/textile/style',
                          '/stylesheets/active_scaffold/default/stylesheet',
                          '/stylesheets/calendar_date_select/default',
                          'formtastic/formtastic',
                          'smoothness/jquery-ui-1.8.7.custom',
                          'projects_plugin/base',
                          'event_manager/base',
                          'shared/formtastic-changes',
                          'shared/active-scaffold-changes',
                          'token-input-facebook',                    :cache => 'backend-extras' %>
  <%= stylesheet_link_tag "/stylesheets/backend" %>

  <!--[if IE]>
    <link href="/stylesheets/active_scaffold/default/stylesheet-ie.css?1296162786" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

  <%= javascript_include_tag :defaults,
                             'jquery',
                             'jquery-ui-1.8.7.custom.min',
                             'jquery.tokeninput',
                             'jquery-impromptu.3.1.min',
                             'utils',                                :cache => 'backend'        %>
  <%= javascript_include_tag '/markitup/jquery.markitup.js',
                             '/markitup/sets/textile/set.js',
                             '/javascripts/active_scaffold/default/active_scaffold.js',
                             '/javascripts/calendar_date_select/calendar_date_select.js'        %>

  <%= yield :head %>

  <% if File.exists?(Rails.root.join('app', 'views', params[:controller], '_sidebar.html.erb')) %>
    <% content_for :sidebar do -%>
      <%= render :partial => 'sidebar' %>
    <% end -%>
  <% end -%>
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="user-navigation">
        <%= link_to t('user_session.bar.logout'), user_logout_path, :class => "logout_ico" %>
      </div>

      <h1><a href="/"><%= configatron.site_name %></a></h1>

      <div id="main-navigation">
        <ul class="wat-cf">
          <%= navigation_menu 'admin.navigation.main.dashboard',
                              [ 'admin/dashboard' ],
                              admin_root_path,
                              :first => true %>

          <%= navigation_menu 'admin.navigation.main.website',
                              [ 'admin/posts',
                                'admin/comments',
                                'admin/announcements',
                                'admin/pages',
 								'admin/events',
								'admin/event_manage',
                                'admin/event_activities',
                                'admin/event_activity_manage'],
                              admin_posts_path %>

          <%= navigation_menu 'admin.navigation.main.system',
                              [ 'admin/action_entries',
                                'admin/users',
                                'admin/deleted_users',
                                'admin/groups',
                                'admin/user_optional_group_picks'],
                              admin_users_path %>

          <%= navigation_menu 'admin.navigation.main.communication',
                              [ 'admin/mails' ],
                              new_admin_mail_path %>

          <%= navigation_menu 'admin.navigation.main.projects',
                              [ 'admin/projects',
								'admin/to_do_lists',
                                'admin/to_do_comments',
                                'admin/messages',
								'admin/categories'],
                              admin_projects_path %>
          <%#= navigation_menu 'admin.navigation.main.events',
                              [ 'admin/events',
                                'admin/event_manage',
                                'admin/event_activities',
                                'admin/event_activity_manage'],
                              admin_events_path %>
        </ul>
      </div>
    </div>

    <div id="wrapper" class="wat-cf">
      <div id="main">
      <div class="block">
        <div class="secondary-navigation">
          <ul class="wat-cf">
            <%= secondary_navigation_menu [ { :controller_paths => 'admin/dashboard',
                                              :i18n_path => 'admin.navigation.secondary.dashboard',
                                              :link_to_path => admin_root_path } ],

                                          :specify_first => true %>

            <%= secondary_navigation_menu [ { :controller_paths => 'admin/announcements',
                                              :i18n_path => 'admin.navigation.secondary.announcements',
                                              :link_to_path => admin_announcements_path },

                                            { :controller_paths => [ 'admin/posts', 'admin/comments'],
                                              :i18n_path => 'admin.navigation.secondary.posts',
                                              :link_to_path => admin_posts_path },

                                            { :controller_paths => 'admin/pages',
                                              :i18n_path => 'admin.navigation.secondary.pages',
                                              :link_to_path => admin_pages_path },

 											{ :controller_paths => [ 'admin/events',
								                                     'admin/event_manage',
								                                     'admin/event_activities',
								                                     'admin/event_activity_manage' ],
								              :i18n_path => 'admin.navigation.secondary.events',
								              :link_to_path => admin_events_path }],

                                          :specify_first => true %>

            <%= secondary_navigation_menu [ { :controller_paths => [ 'admin/users',
                                                                     'admin/deleted_users' ],
                                              :i18n_path => 'admin.navigation.secondary.users',
                                              :link_to_path => admin_users_path },

                                            { :controller_paths => [ 'admin/groups',
                                                                     'admin/user_optional_group_picks' ],
                                              :i18n_path => 'admin.navigation.secondary.groups',
                                              :link_to_path => admin_groups_path } ],

                                          :specify_first => true %>

            <%= secondary_navigation_menu [ { :controller_paths => 'admin/mails',
                                              :i18n_path => 'admin.navigation.secondary.mails',
                                              :link_to_path => new_admin_mail_path } ],

                                          :specify_first => true %>

            <%= secondary_navigation_menu [ { :controller_paths => 'admin/projects',
                                              :i18n_path => 'admin.navigation.secondary.projects',
                                              :link_to_path => admin_projects_path } ],

                                          :specify_first => true %>

            <% unless params[:project_id].nil? %>
              <%= secondary_navigation_menu [ { :controller_paths => ['admin/to_do_lists','admin/to_do_comments' ],
                                                :i18n_path => 'admin.navigation.secondary.to_do_lists',
                                                :link_to_path => admin_project_to_do_lists_path(params[:project_id]) },

                                              { :controller_paths => ['admin/messages'],
                                                :i18n_path => 'admin.navigation.secondary.messages',
                                                :link_to_path => admin_project_messages_path(params[:project_id]) } ],

                                            :specify_first => true %>
            <% end %>

            <% if params[:controller] == "admin/categories" %>
              <%= secondary_navigation_menu [ { :controller_paths => 'admin/to_do_lists',
                                                :i18n_path => 'admin.navigation.secondary.to_do_lists',
                                                :link_to_path => admin_project_to_do_lists_path(params[:project_id]) },
			
                                              { :controller_paths => 'admin/categories',
                                                :i18n_path => 'admin.navigation.secondary.messages',
                                                :link_to_path => admin_project_messages_path(params[:project_id])}],

                                            :specify_first => true %>
            <% end %>
          </ul>
        </div>

        <div id="flash"><%= flash_messages %></div>

        <%= yield %>
      </div>
    </div>

    <div id="sidebar"><%= yield :sidebar %></div>
  </div>

  <%= render :partial => 'shared/footer' %>
</div>

<script type="text/javascript" >
  $=jQuery;
  $(document).ready(function() {
    $("textarea.textile").markItUp(mySettings);
  });
</script>
  
</body>
</html>