<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Simon Administration</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'utils' , 'getSelectedCheckboxes' %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "formtastic/formtastic_changes",             :cache => true %>
  <%= stylesheet_link_tag "admin_themes/web_app_theme",                :cache => true %>
  <%= stylesheet_link_tag "active_scaffold_override/simon/stylesheet", :cache => true %>
  <%= stylesheet_link_tag "admin_themes/default/style",                  :cache => true %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="user-navigation">
        <span><%=h t 'user_session.bar.last_session_paragraph',
          :time_ago => time_ago_in_words(current_user.last_login_at || Time.now),
          :ip       => current_user.last_login_ip %>
        </span> |
        <%= link_to icon_tag('user')+t('user_session.bar.account_link'), user_session_path %> |
        <%= link_to icon_tag('door_out')+t('user_session.bar.logout'), logout_path         %> 
      </div>
      <h1><a href="/"><%= configatron.site_name %></a></h1>
<div id="main-navigation">
        <ul class="wat-cf">
          <li class="<%= controller.controller_path == 'admin/dashboard' ? 'active' : '' %>"><a href="<%= admin_root_path %>">Dashboad</a></li>
          <li class="<%= controller.controller_path == 'admin/users' || controller.controller_path == 'admin/groups' ? 'active' : '' %>"><a href="<%= admin_users_path %>">User Management</a></li>
          <li class="<%= controller.controller_path == 'admin/announcements' || controller.controller_path == 'admin/posts' ? 'active' : '' %>"><a href="<%= admin_announcements_path %>">Website</a></li>
          <li class="<%= controller.controller_path == 'admin/settings' || controller.controller_path == 'admin/undo_items'? 'active' : '' %>"><a href="<%= admin_settings_path %>">System</a></li>

        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <div class="secondary-navigation">
          <ul class="wat-cf">
            <% if controller.controller_path == 'admin/users' || controller.controller_path == 'admin/groups' %>
              <li class="first <%= controller.controller_path == 'admin/users' ? 'active' : '' %>">
                <a href="<%= admin_users_path%>"> Users</a> 
              </li>
              <li class="<%= controller.controller_path == 'admin/groups' ? 'active' : '' %>">
                <a href="<%= admin_groups_path%>"> Groups</a> 
              </li>
            <% elsif controller.controller_path == 'admin/posts' || controller.controller_path == 'admin/announcements' %>
              <li class="first <%= controller.controller_path == 'admin/announcements' ? 'active' : '' %>">
                <a href="<%= admin_announcements_path%>"> Announcements</a> 
              </li>
              <li class="<%= controller.controller_path == 'admin/posts' ? 'active' : '' %>">
                <a href="<%= admin_posts_path%>"> Posts</a> 
              </li>
              <li class="">
                <a href=""> Static pages</a>
              </li>
            <% elsif controller.controller_path == 'admin/settings' || controller.controller_path == 'admin/undo_items' %>
              <li class="first <%= controller.controller_path == 'admin/undo_items' ? 'active' : '' %>">
                <a href="<%= admin_undo_items_path%>"> Actions</a> 
              </li>
              <li class="<%= controller.controller_path == 'admin/settings' ? 'active' : '' %>">
                <a href="<%= admin_settings_path%>"> Settings</a> 
              </li>
            <% end %>
          </ul>
        </div>        
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
