<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.png" />
  <title> <%= yield(:page_title) || h(configatron.title)%> </title>

  <%= javascript_include_tag 'jquery',
                             'jquery-ui-1.8.7.custom.min',
                             'announcements', 
                             'utils',                                          :cache => "cache/frontend" %>

  <%= stylesheet_link_tag    'reset',
                             'smoothness/jquery-ui-1.8.7.custom',
                             'formtastic/formtastic',
                             "themes/#{configatron.theme}/formtastic-changes", 
                             "themes/#{configatron.theme}/frontend-structure", 
                             "themes/#{configatron.theme}/frontend-typography",
                             "themes/#{configatron.theme}/frontend-icons",     :cache => "cache/frontend" %>

  <!--[if lt IE 8]>
  <%= stylesheet_link_tag "themes/#{configatron.theme}/ie",                    :cache => "cache/ie" %>
  <![endif]-->
  <%= yield :head %>
</head>

<body id="<%= @controller.controller_name + "_" + @controller.action_name  %>" >
  <div id="container">

    <div id="header">
      <div id="site-title">
        <h1><a href="<%= root_path %>"><%= configatron.site_name %></a></h1>
      </div>
      <div id="navigation" >
        <%= frontend_navigation_content %>
      </div>
    </div>

    <div id="wrapper">
      <div id="account-info">
        <!--
          <span class="language-options"> 
            <span class="hidden"><%= t("user_session.bar.change_language") %></span>
            <%= link_to "English",   user_language_path('en') , :alt => "Change language to english.", :class => "english" %> <span class="hidden">,</span>
            <%= link_to "Português", user_language_path('pt-PT'), :alt => "Mudar língua para português.", :class => "portugues" %>
          </span>
        -->
        <span class="options">
        <% if logged_in? %>
          <%= @current_user.small_name %> |
          <%= link_to t('navigation.administration'), admin_root_path, :class => "key_ico" if permitted_to? :read, :admin_dashboard %> |
          <%# link_to t('user_session.bar.account_link'), user_session_path, :class => "user_ico" %>
          <%= link_to t('user_session.bar.logout'), user_logout_path, :class => "logout_ico" %>
        <% else %>
          <%= link_to t('user_session.bar.google_signin'),
                        "/user/session?user_session%5Bopenid_identifier%5D=https://www.google.com/accounts/o8/id",
                        :class => "positive create google_ico", :method => 'post'                                  %> |
          <%= link_to t("user_session.bar.signin"), new_user_session_path, :class => "login_ico"                   %> |
          <%= link_to t("user_session.bar.signup"), new_user_account_path, :class => "user_add_ico"                %>
        <% end %>
        </span>
        <span class="title">
          <%= configatron.site_header %>
        </span>
      </div>

      <% if @show_admin_menu %>
      <div id="admin-navigation">
        <%= link_to t('admin.navigation.users'), admin_users_path %>
      </div>
      <% end %>

      <% announcements = Announcement.active %>
      <div id="announcements">
        <% if(announcements.size > 0) %>
          <div class="announcements-bar">
            <% announcements.each_with_index do |announcement, i| -%>
              <% if announcement.url -%>
                <a href="<%= announcement.url %>" onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></a>
              <% else -%>
                <span onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></span>
              <% end -%>
              <%= "|" unless i+1 == announcements.size %>
            <% end -%>
          </div>
          <%= render :partial => 'announcements/announcement', :collection => announcements %>
        <% else %>
          <p><%= I18n::t('announcements.none') %></p>
        <% end %>
      </div>

      <div id="main" class="selfclear">
        <%= '<div class="flash_wrapper"><div class="flash_text notice" style="display:none">'+flash[:notice]+'</div></div>' unless flash[:notice].blank? %>
        <%= '<div class="flash_text error" style="display: none">' +flash[:error] +'</div>' unless flash[:error].blank? %>
        <%= '<script>jQuery(".flash_text").show("slide", {direction: "up"}, 1000).delay(5000);</script>' unless flash[:notice].blank? and flash[:error].blank? %>
        <%= '<script>jQuery(".flash_text").hide("slide", {direction: "up"}, 1000);</script>' unless flash[:notice].blank? and flash[:error].blank? %>
        <%= yield %>
      </div>

      <%= render :partial => 'shared/footer' %>
    </div>
  </div>
  <% javascript_tag do %>
    window.onload = setTimeout(function() {
      announcementsRoutine(<%= announcements.size %>);
      float_bar("#navigation","60px");
    }, 0);
  <% end %>
</body>
</html>
