<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.png" />
  <title> <%= t('navigation.title') %><%= "- " + yield(:page_title) if yield(:page_title)%> </title>
  <%= stylesheet_link_tag 'default', 'formtastic/formtastic', :cache => "defaults" %>
  <%= stylesheet_link_tag 'formtastic/formtastic_changes', :cache => "changes" %>
  <%= javascript_include_tag 'jquery' %>
  <% if @active_scaffold_includes -%>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  <% end -%>
  <!--[if lt IE 8]> 
    <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" /> 
  <![endif]-->
  <%= yield :head %>
</head>

<body id="<%= yield(:body_id) || "body" %>" >

  <div id="account-info">
  <% if logged_in? %>	      
    <span> 
      <%=h t 'user_session.bar.last_session_paragraph',
             :time_ago => time_ago_in_words(current_user.last_login_at || Time.now),
             :ip       => current_user.last_login_ip %>
    </span> |
    <%= link_to icon_tag('user')+t('user_session.bar.account_link'), user_session_path             %> |
    <%= link_to icon_tag('door_out')+t('user_session.bar.logout'), logout_path                     %> 
  <% else %>
    <%= link_to '<img src="/images/google.ico" alt=""/>'+t('user_session.bar.google_signin'),
        "/user_session?user_session%5Bopenid_identifier%5D=https://www.google.com/accounts/o8/id", 
        :class => "positive create", :method => 'post'                                             %> |
    <%= link_to icon_tag('door_in')+t("user_session.bar.signin"), new_user_session_path            %> |
    <%= link_to icon_tag('user_add')+t("user_session.bar.signup"), new_user_path                   %> |
    <span class="flags"> 
      <%= link_to language_flag_tag('en'),    language_path('en')         %> 
      <%= link_to language_flag_tag('pt-PT'), language_path('pt-PT')      %> 
    </span> 
  <% end %>
  </div>

  <div id="header">
    <a href="<%= root_path %>"><h1 id="site-logo"><%= t('navigation.title') %></h1></a>
  </div>

  <div id="navigation">
  <% if logged_in? :user %>	      
    <%= link_to t('navigation.about'),          page_path(:about)             %> 
  <% elsif logged_in? :admin %>
    <%= link_to t('navigation.about'),          page_path(:about)             %> |
    <%= link_to t('navigation.administration'), admin_root_path               %> 
  <% else %>
    <%= link_to t('navigation.about'),          page_path(:about)             %> 
  <% end %>
  </div>

  <% if @show_admin_menu %>
  <div id="admin-navigation">
    <%= link_to t('admin.navigation.users'),      admin_users_path              %>
  </div>
  <% end %>

  <div id="content" class="selfclear">
    <%= '<div class="flash_wrapper"><div class="flash_text notice" style="display:none">'+flash[:notice]+'</div></div>' unless flash[:notice].blank? %>
    <%= '<div class="flash_text error" style="display: none">' +flash[:error] +'</div>' unless flash[:error].blank?  %>
    <%= '<script>$(".flash_text").show(1000);</script>' unless flash[:notice].blank? and flash[:error].blank? %>
    <%= yield %>
  </div>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
