<div id="videos">
  <% if @videos.videos.empty? %>
    <%= "There are no more videos" %>
  <% else %>
    <% @videos.videos.each do |video| %>
      <div class="video">
        <%= video.title %>
        <%= raw video.embed_html5 %>
      </div>
    <% end %>
    
    <% if @videos.total_pages > 1 %>
      <div id="pagination">
        <%= ((@videos.previous_page) ? link_to("Previous", videos_path(:page => @videos.previous_page)) : "Previous") %>
        <%= ((@videos.next_page) ? link_to("Next", videos_path(:page => @videos.next_page)) : "Next") %>
      </div>
    <% end %>
  <% end %>
</div>