<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
  <link rel="shortcut icon" href="favicon.ico" />
  <title><%= yield(:page_title) || h(configatron.title)%></title>

  <%= stylesheet_link_tag    'shared/reset', :media => 'screen'                                           %>
  <%= stylesheet_link_tag    'smoothness/jquery-ui-1.8.7.custom',
                             'formtastic/formtastic',
                             'shared/formtastic-changes',
                             "themes/#{configatron.theme}/frontend",           :cache => 'cache/frontend' %>

  <%= javascript_include_tag 'jquery',
                             'jquery-ui-1.8.7.custom.min',
                             'jquery.url',
                             'announcements', 
                             'utils',                                          :cache => 'cache/frontend' %>

  <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid="<%= configatron.addthis_pubid %>"></script>

  <%= yield :head %>
</head>

<body>
  <div id="container">
    <div id="header">
      <a href="/"><div id="logo"></div></a>
      <div id="stars">
        <a href="/pages/josé-fernandes"><div id="left"></div></a>
        <a href="/pages/rui-bragança"><div id="center"></div></a>
        <a href="/pages/nuno-costa"><div id="right"></div></a>
      </div>
    </div>
    <div id="wrapper">
      <div id="menu">
        <div id="navigation"><%= frontend_navigation_content %></div>
        <span class="options">
        <% if logged_in? %>
          <% if @current_user.small_name %>
            <%= link_to @current_user.small_name, user_account_path                                            %> |
          <% else %>
            <%= link_to @current_user.email, user_account_path                                                 %> |
          <% end %>
          <% if permitted_to? :read, :admin_dashboard %>
            <%= link_to t('navigation.administration'), admin_root_path %> |
          <% end %>
          <%= link_to t('user_session.bar.logout'), user_logout_path                                           %>
        <% else %>
          <%= link_to t("user_session.bar.signin"), new_user_session_path                                      %> |
          <%= link_to t("user_session.bar.signup"), new_user_account_path                                      %>
        <% end %>
        </span>
      </div>

      <% announcements = Announcement.prioritize.active %>
      <div id="announcements">
        <% if(announcements.size > 0) %>
          <div id="announcement-numbers">
            <% announcements.each_with_index do |announcement, i| -%>
              <% if announcement.url -%>
                <a href="<%= announcement.url %>" onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></a>
              <% else -%>
                <span onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></span>
              <% end -%>
              <%= "|" unless i+1 == announcements.size %>
            <% end -%>
          </div>
          <%= render :partial => 'announcements/announcement', :collection => announcements %>
        <% else %>
          <p><%= I18n::t('announcements.none') %></p>
        <% end %>
      </div>

      <div id="main" class="selfclear">
        <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
        <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
        <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

        <div id="content" class="<%= yield(:tag_cloud) ? 'double' : 'single' %>">
          <%= yield %>
        </div>
        <%= yield :tag_cloud %>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>

  <% javascript_tag do %>
    window.onload = setTimeout(function() {
      announcementsRoutine(<%= announcements.size %>);
    }, 0);

    // this is an image preloader
    function preloader() 
    {
      var i;

      images    = new Array();
      images[0] = "/stylesheets/themes/ajtg/images/stars.png";
      images[1] = "/stylesheets/themes/ajtg/images/jose.png";
      images[2] = "/stylesheets/themes/ajtg/images/rui.png";
      images[3] = "/stylesheets/themes/ajtg/images/nuno.png";

      // start preloading
      for(i=0; i<=3; i++)
      {
        var image_object = new Image();
        image_object.src=images[i];
      }
    }

    preloader();

    var url = jQuery.url(window.location);
    switch( url.segment(2) )
    {
      case 'josé-fernandes': jQuery("#stars").removeClass("rui nuno").addClass("jose"); break;
      case 'rui-bragança': jQuery("#stars").removeClass("jose nuno").addClass("rui"); break;
      case 'nuno-costa': jQuery("#stars").removeClass("jose rui").addClass("nuno"); break;
      default: jQuery("#stars").removeClass("jose rui nuno");
    }

    jQuery("#left").hover(function(){ jQuery("#stars").addClass("jose") },
                          function(){ jQuery("#stars").removeClass("jose") });

    jQuery("#center").hover(function(){ jQuery("#stars").addClass("rui") },
                            function(){ jQuery("#stars").removeClass("rui") });
 
    jQuery("#right").hover(function(){ jQuery("#stars").addClass("nuno") },
                           function(){ jQuery("#stars").removeClass("nuno") });
  <% end %>

</body>
</html>
