<%= @record.name %>

<%= image_tag avatar_url(@record) %>
 <p><%= @record.email              %></p>
 <p><%= @record.name               %></p>
 <p><%= @record.nickname           %></p>
 <p><%= @record.gender             %></p>
 <p><%= @record.profile            %></p>
 <p><%= @record.website            %></p>
 <p><%= @record.country            %></p>
 <p><%= @record.phone              %></p>
 <p><%= @record.emails             %></p>
 <p><%= @record.language           %></p>
 <p><%= @record.groups             %></p>
 <p><%= @record.role               %></p>


