<h4><%= @record.name %></h4>
<dl>
  <%= image_tag avatar_url(@record) %>
  <% if @record.email    %><dt><%= t("admin.users.view.email")    %></dt><dd><%= @record.email       %></dd><% end %>
  <% if @record.name     %><dt><%= t("admin.users.view.name")     %></dt><dd><%= @record.name        %></dd><% end %>
  <% if @record.nickname %><dt><%= t("admin.users.view.nickname") %></dt><dd><%= @record.nickname    %></dd><% end %>
  <dt><%= t("admin.users.view.gender") %></dt>
  <dd> 
    <% if @record.gender %>
      <p class="true-male"><%= t("generic_sentence.male_value") %></p>
    <% else %>
      <p class="false-female"><%= t("generic_sentence.female_value") %></p>
    <% end %>
  </dd>
  <% if @record.profile  %><dt><%= t("admin.users.view.profile")  %></dt><dd><%= @record.profile     %></dd><% end %>
  <% if @record.website  %><dt><%= t("admin.users.view.website")  %></dt><dd><%= @record.website     %></dd><% end %>
  <% if @record.country  %><dt><%= t("admin.users.view.country")  %></dt><dd><%= @record.country     %></dd><% end %>
  <% if @record.phone    %><dt><%= t("admin.users.view.phone")    %></dt><dd><%= @record.phone       %></dd><% end %>
  <% if @record.emails   %><dt><%= t("admin.users.view.emails")   %></dt><dd><%= @record.emails      %></dd><% end %>
  <% if @record.language %><dt><%= t("admin.users.view.language") %></dt><dd><%= @record.language    %></dd><% end %>
  <% if @record.groups   %><dt><%= t("admin.users.view.groups")   %></dt><dd><%= @record.list_groups %></dd><% end %>
  <% if @record.role     %><dt><%= t("admin.users.view.role")     %></dt><dd><%= @record.role.label  %></dd><% end %>
</dl>

<p class="form-footer"><%= link_to t("admin.users.view.cancel"), admin_users_path, :class => "cancel" %></p>
