<% unless @record.name.blank?            %>
  <h2><%= @record.name %></h2>
<% end %>
<dl>
  <div id="avatar"><%= image_tag avatar_url(@record) %></div>

  <% if @record.email                      %>
    <dt><%= t("admin.users.view.email")    %></dt>
    <dd><%= @record.email                  %></dd>
  <% end %>

  <% if @record.nickname                   %>
    <dt><%= t("admin.users.view.nickname") %></dt>
    <dd><%= @record.nickname    %></dd>
  <% end %>

  <% if @record.emails?                    %>
    <dt><%= t("admin.users.view.emails")   %></dt>
    <dd><%= @record.emails?                %></dd>
  <% end %>

  <dt><%= t("admin.users.view.gender")     %></dt>
  <dd>
    <% if @record.gender                   %>
      <p class="male">   <%= t("generic_sentence.male_value")   %></p>
    <% else %>
      <p class="female"><%= t("generic_sentence.female_value") %></p>
    <% end %>
  </dd>

  <% if @record.profile                    %>
    <dt><%= t("admin.users.view.profile")  %></dt>
    <dd><%= @record.profile     %></dd>
  <% end %>

  <% if @record.website                    %>
    <dt><%= t("admin.users.view.website")  %></dt>
    <dd> <a href="<%= @record.website %>" target="_blank"><%= @record.website %></a></dd>
  <% end %>

  <% if @record.country                    %>
    <dt><%= t("admin.users.view.country")  %></dt>
    <dd><%= image_tag("flags/"+@record.country.downcase+".png", :alt => @record.country) %> <%= I18n::t("countries."+@record.country) %></dd>
  <% end %>

  <% if @record.phone                      %>
    <dt><%= t("admin.users.view.phone")    %></dt>
    <dd><%= @record.phone                 %></dd>
  <% end %>

  <% if @record.emails                     %>
    <dt><%= t("admin.users.view.emails")   %></dt>
    <dd><%= @record.emails                %></dd>
  <% end %>

  <% if @record.language                   %>
    <dt><%= t("admin.users.view.language") %></dt>
    <dd><%= @record.language              %></dd> 
  <% end %>

  <% if @record.groups.count>0             %>
    <dt><%= t("admin.users.view.groups")   %></dt>
    <dd><%= @record.list_groups           %></dd>
  <% end %>

  <% if @record.role                       %>
    <dt><%= t("admin.users.view.role")     %></dt>
    <dd><%= @record.role.label            %></dd>
  <% end %>

  <% if @record.created_at                 %>
    <dt><%= t("admin.users.view.created_at") %></dt>
    <dd><%= t('generic_sentence.time_ago', :time_ago => time_ago_in_words(@record.created_at)) %></dd>
  <% end %>

  <% if @record.last_login_at     %>
    <dt><%= t("admin.users.view.last_login_at")     %></dt>
    <dd><%= t('generic_sentence.time_ago', :time_ago => time_ago_in_words(@record.last_login_at))  %></dd>
  <% end %>

  <% if @record.current_login_at     %>
    <dt><%= t("admin.users.view.current_login_at")     %></dt>
    <dd><%= t('generic_sentence.time_ago', :time_ago => time_ago_in_words(@record.current_login_at))   %></dd>
  <% end %>

  <% if @record.login_count     %>
    <dt><%= t("admin.users.view.login_count")     %></dt>
    <dd><%= @record.login_count  %></dd>
  <% end %>

  <% if @record.failed_login_count     %>
    <dt><%= t("admin.users.view.failed_login_count")     %></dt>
    <dd><%= @record.failed_login_count  %></dd>
  <% end %>

  <% if @record.last_login_ip     %>
    <dt><%= t("admin.users.view.last_login_ip")     %></dt>
    <dd><%= @record.last_login_ip  %></dd>
  <% end %>

  <% if @record.current_login_ip     %>
    <dt><%= t("admin.users.view.current_login_ip")     %></dt>
    <dd><%= @record.current_login_ip  %></dd>
  <% end %>

  <% if @record.openid_identifier     %>
    <dt><%= t("admin.users.view.openid_identifier")     %></dt>
    <dd><%= @record.openid_identifier  %></dd>
  <% end %>

  <dt><%= t("admin.users.view.active")     %></dt>
  <dd><%= @record.active  %></dd>

  <% if @record.last_request_at     %>
    <dt><%= t("admin.users.view.last_request_at")     %></dt>
    <dd><%= @record.last_request_at  %></dd>
  <% end %>

  <% if @record.current_login_at     %>
    <dt><%= t("admin.users.view.current_login_at")     %></dt>
    <dd><%= @record.current_login_at  %></dd>
  <% end %>
</dl>

<fieldset class="buttons">
  <li class="commit">
    <%= link_to t("admin.users.view.cancel"), admin_users_path, :class => 'button negative', :style => 'font-size:1em;text-decoration:none;margin:10px;' %>
  </li>
</fieldset>
