<script>
jQuery.noConflict();

jQuery(document).ready(function($) {

	var values = $("#mail_mailable").val().split(',')
	function split( val ) 
	{
		return val.split( /,\s*/ );
	}
	function extractLast( term ) 
	{
		var idx = term.indexOf($("span .last").text());
		if(idx>0){return term.splice(idx,1);}
	 	return term
	}
	
	window.onload = reset_hidden; 
	function reset_hidden() { 
		jQuery("#mail_to").val("");
	}	
	
	$( "#mail_recipients" ).autocomplete(
	 	{
	 		minLength: 0,
	 		source: function( request, response ) 
	 		{
	 			// delegate back to autocomplete, but extract the last term
				
	 			response( $.ui.autocomplete.filter(values, extractLast(request.term)));
	 		},
	 		focus: function() 
	 		{
	 			// prevent value inserted on focus
	 			return false;
	 		},
	 		select: function( event, ui ) 
	 		{	
				newSpan = $("<span>").text($("span .last").text());
				$("span .last").replaceWith(newSpan);

				masterspan = $("<span>").addClass("master").insertBefore("#recipients_holder")
				$("<span id=\"rec\">").addClass("last").text(ui.item.value).appendTo(masterspan);
				$("<a>").addClass("remove").text("x").attr({onclick: "newValue = jQuery(\"#mail_to\").val().split(\",\");newValue.pop();newValue.pop();jQuery(\"#mail_to\").val(newValue.join(\",\")+\",\"); this.parentNode.remove(true);jQuery(\"#outer_holder span span\").last().addClass(\"last\");return false;"}).appendTo(masterspan);	

				$("#mail_to").val($("#mail_to").val()+ui.item.value+",")
				
	 			return false;
	 		}
	 	}).keydown( function( event ) 
			{
				var code = (event.keyCode ? event.keyCode : event.which);

				if( code == 13 )
					alert($("#mail_to").val());

				if ( code == 8 )
				{
					if($("#mail_to").val() != "")
					{
						newValue = $("#mail_to").val().split(",");
						newValue.pop();
						newValue.pop();
						$("#mail_to").val(newValue.join(",")+",");
						$("#outer_holder span .last").parent().remove();
						$("#outer_holder span span").last().addClass("last");
					}
				}
			 });
	});
</script>
<div class="content">
  <div class="view">
    <% form_for @mail, :url=>admin_mails_path, :method=>"post" do |f| -%>
      <h2><%= t("admin.mails.title") %></h2>
        <ol class="form">
          <li class="form-element">
            <dl>
              <dt><label><%= I18n::t("admin.mails.to") %></label></dt>
              <dd>
                <div id="outer_holder">
                  <span id="recipients_holder">
                    <%= text_field_tag :mail_recipients, '', :size => 35, :class => 'text-input' %>
                  </span>
                </div>			
              </dd> 
            </dl>
          </li>
          <li class="form-element">
            <dl>
              <dt><label><%= I18n::t("admin.mails.subject") %></label></dt>
              <dd><%= text_field_tag :subject, '', :size => 35, :class => 'text-input' %></dd>
            </dl>
          </li>
          <li class="form-element">
            <dl>
              <dt><label><%= I18n::t("admin.mails.message") %></label></dt>
              <dd> <%= f.text_area :message %></dd>
              <%= f.hidden_field(:mailable) %>
              <%= hidden_field_tag(:mail_to) %>
            </dl>
          </li>
        </ol>
        <%= f.submit I18n::t('admin.mails.send'), :class => 'button positive' %>
    <% end -%>
  </div>
</div>

<% if File.exists?(Rails.root.join('app', 'views', params[:controller], '_sidebar.html.erb')) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'sidebar' %>
  <% end -%>
<% end -%>
