<script>
jQuery.noConflict();

jQuery(document).ready(function($) {
    	
	$( "#mail_recipients_text" ).tokenInput(window.location.href.replace(/\#.*/,"").replace("new","values"), {
		resultsFormatter: function(item){return "<li>"+item.image+" "+item.name+"</li>"},
		minChars: 2
	});
		
});
</script>


<div class="content">
  <div class="inner">
    <% semantic_form_for @mail, :url=>admin_mails_path, :html => {:method => :post} do |f| %>
      <% f.inputs do %>
        <%= f.input :recipients_text, :as => :string, :label => t("admin.mails.title") %>
        <%= f.input :message_type,    
                    :as           =>  :radio,
                    :collection   => [ [I18n::t('admin.mails.form.type.mail'), 'email'], [I18n::t('admin.mails.form.type.sms'), 'sms'] ] %>
        <%= f.input :subject, :as => :string, :label => t("admin.mails.subject")  %>
        <%= f.input :message, :as => :text, :label => t("admin.mails.message") %>
      <% end %>
      <% f.buttons do %>
        <%= f.commit_button :label => t('admin.mails.send'), :button_html => { :class => 'button positive' } %>
      <% end %>
    <% end %>
  </div>
</div>
