<%= render :partial => 'shared/layout_head' %>

<body>
  <div id="container">
    <div id="header">
      <div class="wrapper">
        <a href="/"><div id="logo"></div></a>
 
        <span class="options">
          <% if logged_in? %>
            <% if @current_user.small_name %>
              <%= link_to @current_user.small_name, user_account_path                                            %> |
            <% else %>
              <%= link_to @current_user.email, user_account_path                                                 %> |
            <% end %>
            <% if permitted_to? :read, :admin_dashboard %>
              <%= link_to t('navigation.administration'), admin_root_path %> |
            <% end %>
            <%= link_to t('user_session.bar.logout'), user_logout_path                                           %>
          <% else %>
            <%= link_to t("user_session.bar.signin"), new_user_session_path                                      %> |
            <%= link_to t("user_session.bar.signup"), new_user_account_path                                      %>
          <% end %>
        </span>
 
        <div id="menu"><%= frontend_navigation_content %></div>
      </div>

      <div id="site-title"><div class="wrapper"><span><%= configatron.site_header %></span></div></div>
    </div>

    <div id="main" class="selfclear">
      <%= render :partial => 'announcements/announcement' %>

      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <div id="content" class="<%= yield(:tag_cloud) ? 'double' : 'single' %>">
        <%= yield %>
      </div>

      <%= yield :tag_cloud %>
    </div>

    <div id="footer">
      <div id="left">
        <div class="textile-body"><%= Page.find_by_title('footer_left').body_html %></div>
        <p>Copyright © <%= Time.now.year %> <%= link_to configatron.site_name, configatron.site_url %>. All rights reserved. Powered by <%= link_to 'Group Buddies', 'http://www.groupbuddies.com' %>.</p>
      </div>
      <div id="right">
        <div class="textile-body"><%= Page.find_by_title('footer_right').body_html %></div>
      </div>
    </div>
  </div>
</body>
</html>
