<% post = event.post %>
<h2 class="title"><%= link_to(post.title, post_path(post)) %></h2>
<div class="textile-body">
  <%= content_tag :div, link_to(image_tag(post.image.url(:image)), post.image.url(:original)), :class => 'post-image' if post.image? %>
  <% if controller.action_name == "index" -%>
    <%= raw post.excerpt_html %>
    <%= post.splitted ? "<p class='more'>#{link_to I18n::t('posts.read_more'), post_path(post)}</p>" : "" %>
  <% else -%>
    <%= raw post.body_html %>
  <% end -%>
</div>
<%= render :partial => 'posts/event_subscription', :locals => {:event => event, :total_price => total_price, :subscribed_activities  => subscribed_activities} %>