<h2><%= I18n::t('users.show.session.title') %></h2>

<div class="entrybody">
  <ul class="list">
    <li><b>Name:</b> <%=h @user.name %></li>
    <li><b>Email:</b> <%=h @user.email %></li>
    <li><b>Login count:</b> <%=h @user.login_count %></li>
    <li><b>Last request at:</b> <%=h @user.last_request_at %></li>
    <li><b>Last login at:</b> <%=h @user.last_login_at %></li>
    <li><b>Current login at:</b> <%=h @user.current_login_at %></li>
    <li><b>Last login IP:</b> <%=h @user.last_login_ip %></li>
    <li><b>Current login IP:</b> <%=h @user.current_login_ip %></li>
  </ul>
</div>
