<% content_for :head do %>
	<%= javascript_include_tag "website/announcements" %>
	<%= stylesheet_link_tag "themes/"+configatron.theme+"/frontend", :cache => "defaults"%>
	<% javascript_tag do %>
      window.onload = setTimeout(function() { announcementsRoutine(<%=@announcements.size%>) }, 0);
   <% end %>
<% end %>
<div id="website_left_side">
	<div id="website_announcements">
		<div id="announcements">
		<% if(@announcements.size > 0) %>
			<div id="announcements-bar">
				<%	@announcements.each_with_index do |announcement,i| -%>
						<a href="#" onMouseOver="changeAnnouncement(<%=i%>)">#<%=i+1 %></a>
				<% end -%>
			</div>
			<div id="announcements-area">
				<%= render :partial => 'announcement', :collection => @announcements %>
			</div>
		<% else %>
			<!-- TODO - substitute for i18n translation -->
			<p>There are no current announcements!</p>
		<% end %>
		</div>
	</div>
	<div id="website_posts">
		<% if(@posts.size >0) %>
			<%= render :partial => 'post', :collection => @posts %>
			<%= will_paginate(@posts, :previous_label => '« Newer', :next_label => 'Older »') if (@posts.total_pages >1)%>
		<% else %>
			<!-- TODO - substitute for i18n translation -->
			<p>There are no current posts to show!</p>
		<% end %>
	</div>
</div>
<!-- TODO - get links for static pages and some static urls -->
<div id="website_right_side">
	<div id="website_menu_links" class="paddingMargin10PX">
		<a href"" class="asBlock">A link</a>
		<a href"" class="asBlock">Another link</a>
	</div>
	<div id="website_static_pages" class="paddingMargin10PX">
		<a href"" class="asBlock">Static link</a>
		<a href"" class="asBlock">Another static link</a>
	</div>
</div>
