<h2 class="title"><%= t('users.edit.title') %></h2>

<% semantic_form_for @user, :url => user_account_path do |f| %>
  <% f.inputs :name => t('users.edit.form_inputs_name') do %>
    <%= f.input :name, :label => t('users.form.name') %>
    <%= f.input :gender, :required => false, :as => :radio, :label => t('users.form.gender'),
                :collection => [[t('generic_sentence.female_value'), false], [t('generic_sentence.male_value'), true]] %>
    <%= f.input :email, :label => t('users.form.email') %>
    <%= f.input :emails, :required => false, :as => :radio, :label => t('users.form.emails') %>
    <%= f.input :phone, :required => false, :label => t('users.form.phone') %>
    <%= f.input :id_number, :required => false, :label => t('users.form.id_number') %>
    <%= f.input :address, :required => false, :label  => t('users.form.address') %>
    <%= f.input :country, :required => false, :label => t('users.form.country') %>
    <%= f.input :language, :as => :select, :label => t('users.form.language'), :collection => select_language_collection unless configatron.force_locale %>
  <% end %>

  <% f.inputs :name => t('users.edit.form_auth_inputs_name') do %>
    <%= f.input :password, :label => t('users.form.change_password'), :required => false %>
    <%= f.input :password_confirmation, :label => t('users.form.password_confirmation'), :required => false %>
    <%= f.input :openid_identifier, :label => t('users.form.openid'), :required => false %>
  <% end %>

  <% f.inputs :name => t('users.edit.form_group_inputs_name') do %>
    <%= f.input :choosable_groups, :label => t('users.form.choosable_groups'), :as => :check_boxes,
                :required => false unless Group.find_all_by_user_choosable(true).empty? %>
    
	<% @picks.each do |pick| %>			
    	<% f.semantic_fields_for pick do |sf| -%>
    	  <%= sf.input :selected_group_id, :label => pick.name, :as => :radio, :required => true, :collection => pick.groups,
    	               :name => "user[user_optional_group_picks][#{pick.id}]",
    	               :input_html => { :id => "user_user_optional_group_picks_group_ids_#{pick.id}" },
    	               :wrapper_html => { :id => "user_user_optional_group_picks_groups_input_#{pick.id}" } %>
    	<% end %>
    <% end if @picks %> 
  <% end unless Group.find_all_by_user_choosable(true).empty? && (@picks.nil? || @picks.empty?) %>

  <% f.inputs :name => t('users.edit.form_profile_inputs_name') do %>
    <%= f.input :profile, :required => false, :label => t('users.form.profile') %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button :label => t('users.update.commit_button'), :button_html => { :class => "button positive" } %>
    <%= f.button_link t('users.update.cancel_button'), user_account_path, :button_html => { :class => "button negative"} %>
  <% end %>
<% end %>
