<% content_for :page_title, h(t('users.new.title')) %>

<h2><%= t('users.new.title') %></h2>

<%= render :partial => 'shared/form_side_notes' %>

<div class="form_with_notes">
  <% semantic_form_for @user, :url => user_accounts_url do |f| %>
    <% if @user.openid_identifier.blank? -%>
      <% f.inputs :name => t('users.new.form_inputs_name') do %>
        <%= f.input :email, :label => t('users.form.email') %>
        <%= f.input :password, :label => t('users.form.password') %>
        <%= f.input :password_confirmation, 
                    :label => t('users.form.password_confirmation') %>
        <%= f.input :language, :as => :select, :label => t('users.form.language'), 
                    :collection => select_language_collection %>
      <% end %>
      <% f.inputs :name => t('user_session.new.form_openid_inputs_name') do %>
        <%= f.input :openid_identifier, :label => t('users.new.openid'),
                    :required => false %>
      <% end %>
    <% else -%>
      <% f.inputs :name => t('users.new.form_openid_inputs_name') do %>
        <%= f.input :email, :label => t('users.form.email') %>
        <%= f.input :openid_identifier, :label => t('users.new.openid') %>
        <%= f.input :language, :as => :select, :label => t('users.form.language'), 
                    :collection => select_language_collection %>
      <% end %>
    <% end -%>
    <div class="required_field_note"><%= t('generic_sentence.required_field') %></div>
    <% f.buttons do %>
      <%= f.button :label => icon_tag('user_add')+t('users.new.commit_button') %> 
    <% end %>
  <% end %>
</div>

<%= '<script>$("#new_user").submit();</script>' if @auto_submit %>
