<h2 class="title"><%= I18n::t('users.show.title') %></h2>

<div class="content-body">
  <dl class="list">
    <% if @user.email %>
      <dt><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</dt>
      <dd><%= @user.email %></dd>
    <% end %>

    <% unless @user.nickname.blank? %>
      <dt><%= t("activerecord.attributes.user.nickname", :default => t("activerecord.labels.nickname", :default => "Nickname")) %>:</dt>
      <dd><%= @user.nickname %></dd>
    <% end %>

    <% unless @user.name.blank? %>
      <dt><%= t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</dt>
      <dd><%= @user.name %></dd>
    <% end %>

    <% unless @user.profile.blank? %>
      <dt><%= t("activerecord.attributes.user.profile", :default => t("activerecord.labels.profile", :default => "Profile")) %>:</dt>
      <dd><%= @user.profile %></dd>
    <% end %>

    <% if @user.language %>
      <dt><%= t("activerecord.attributes.user.language", :default => t("activerecord.labels.language", :default => "Language")) %>:</dt>
      <dd><%= @user.language %></dd>
    <% end %>

    <% if @user.emails %>
      <dt><%= t("activerecord.attributes.user.emails", :default => t("activerecord.labels.emails", :default => "Receive emails")) %>:</dt>
      <dd><%= @user.emails %></dd>
    <% end %>

    <% if @user.id_number %>
      <dt><%= t("activerecord.attributes.user.id_number", :default => t("activerecord.labels.id_number", :default => "Identification Number")) %>:</dt>
      <dd><%= @user.id_number %></dd>
    <% end %>

    <% if @user.address %>
      <dt><%= t("activerecord.attributes.user.address", :default => t("activerecord.labels.address", :default => "Address")) %>:</dt>
      <dd><%= @user.address %></dd>
    <% end %>

    <% unless @user.country.blank? %>
      <dt><%= t("activerecord.attributes.user.country", :default => t("activerecord.labels.country", :default => "Country")) %>:</dt>
      <dd><%= image_tag("flags/"+@user.country.downcase+".png", :alt => @user.country) %> <%= I18n::t("countries."+@user.country) %></dd>
    <% end %>

    <% if @user.role %>
      <dt><%= t("activerecord.attributes.user.role", :default => t("activerecord.labels.role", :default => "Role")) %>:</dt>
      <dd><%= @user.role.label %></dd>
    <% end %>

    <dt><%= t("activerecord.attributes.user.gender", :default => t("activerecord.labels.gender", :default => "Female")) %>:</dt>
    <% if @user.gender %>
      <dd><span class="male"><%= t("generic_sentence.male_value") %></span></dd>
    <% else %>
      <dd><span class="female"><%= t("generic_sentence.female_value") %></span></dd>
    <% end %>

    <% unless @user.phone.blank? %>
      <dt><%= t("activerecord.attributes.user.phone", :default => t("activerecord.labels.phone", :default => "Phone")) %>:</dt>
      <dd><%= @user.phone %></dd>
    <% end %>

    <% if @user.last_login_at %>
      <dt><%= t("activerecord.attributes.user.last_login_at", :default => t("activerecord.labels.last_login_at", :default => "Last login at")) %>:</dt>
      <dd><%= render_date(@user.last_login_at) %></dd>
    <% end %>

    <% if @user.current_login_ip %>
      <dt><%= t("activerecord.attributes.user.current_login_ip", :default => t("activerecord.labels.current_login_ip", :default => "Current login ip")) %>:</dt>
      <dd><%= @user.current_login_ip %></dd>
    <% end %>

    <% if @user.last_login_ip %>
      <dt><%= t("activerecord.attributes.user.last_login_ip", :default => t("activerecord.labels.last_login_ip", :default => "Last login ip")) %>:</dt>
      <dd><%= @user.last_login_ip %></dd>
    <% end %>
  </dl>

  <ul class="buttons">
    <li><%= link_to "#{t("users.show.edit_link")}", edit_user_account_path, :class => "button positive" %></li>
    <li><%= link_to "#{t("users.show.session_link")}", user_session_path, :class => "button positive" %></li>
  </ul>
</div>
