<div class="block">
  <div class="content">
    <div class="inner">
      <h2><%= I18n::t('users.show.title') %></h2>
      <p>
        <% if @user.email %>
          <b><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @user.email %>
        <% end %>
      </p>

      <p>
        <% unless @user.nickname.blank? %>
          <b><%= t("activerecord.attributes.user.nickname", :default => t("activerecord.labels.nickname", :default => "Nickname")) %>:</b>
          <%= @user.nickname %>
        <% end %>
      </p>

      <p>
        <% unless @user.name.blank? %>
          <b><%= t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @user.name %>
        <% end %>
      </p>

      <p>
        <% unless @user.profile.blank? %>
          <b><%= t("activerecord.attributes.user.profile", :default => t("activerecord.labels.profile", :default => "Profile")) %>:</b>
          <%= @user.profile %>
        <% end %>
      </p>

      <p>
        <% if @user.language %>
          <b><%= t("activerecord.attributes.user.language", :default => t("activerecord.labels.language", :default => "Language")) %>:</b>
          <%= @user.language %>
        <% end %>
      </p>

      <p>
        <% if @user.emails %>
          <b><%= t("activerecord.attributes.user.emails", :default => t("activerecord.labels.emails", :default => "Receive emails")) %>:</b>
          <%= @user.emails %>
        <% end %>
      </p>

      <p>
        <% if @user.country %>
          <b><%= t("activerecord.attributes.user.country", :default => t("activerecord.labels.country", :default => "Country")) %>:</b>
          <%= image_tag("flags/"+@user.country.downcase+".png", :alt => @user.country) %> <%= I18n::t("countries."+@user.country) %>
        <% end %>
      </p>

      <p>
        <% if @user.role %>
          <b><%= t("activerecord.attributes.user.role", :default => t("activerecord.labels.role", :default => "Role")) %>:</b>
          <%= @user.role.label %>
        <% end %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.gender", :default => t("activerecord.labels.gender", :default => "Female")) %>:</b>
        <% if @user.gender %>
          <span class="male">   <%= t("generic_sentence.male_value")   %> </span>
        <% else %>
          <span class="female">   <%= t("generic_sentence.female_value")   %> </span>
        <% end %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.phone", :default => t("activerecord.labels.phone", :default => "Phone")) %>:</b>
        <%= @user.phone %>
      </p>

      <p>
        <% if @user.last_login_at %>
          <b><%= t("activerecord.attributes.user.last_login_at", :default => t("activerecord.labels.last_login_at", :default => "Last login at")) %>:</b>
          <%= render_date(@user.last_login_at) %>
        <% end %>
      </p>


      <p>
        <% if @user.current_login_ip %>
          <b><%= t("activerecord.attributes.user.current_login_ip", :default => t("activerecord.labels.current_login_ip", :default => "Current login ip")) %>:</b>
          <%= @user.current_login_ip %>
        <% end %>
      </p>

      <p>
        <% if @user.last_login_ip %>
          <b><%= t("activerecord.attributes.user.last_login_ip", :default => t("activerecord.labels.last_login_ip", :default => "Last login ip")) %>:</b>
          <%= @user.last_login_ip %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<form class="formtastic" >
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= link_to "#{t("users.show.list_link")}", user_accounts_path, :class => "button positive create" %>
      </li>
      <li class="commit">
        <%= link_to "#{t("users.show.edit_link")}", edit_user_account_path, :class => "button positive create" %>
      </li>
      <li class="commit">
        <%= link_to "#{t("users.show.session_link")}", user_session_path, :class => "button positive create" %>
      </li>
    </ol>
  </fieldset>
</form>
