<div class="block">
      <p><%= link_to "#{t("user.list_link")}", user_accounts_path %></p>
      <p><%= link_to "#{t("user.edit_link")}", edit_user_account_path %></p>
  <div class="content">
    <div class="inner">
      
      <p>
        <b><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
        <%= @user.email %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.nickname", :default => t("activerecord.labels.nickname", :default => "Nickname")) %>:</b>
        <%= @user.nickname %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
        <%= @user.name %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.profile", :default => t("activerecord.labels.profile", :default => "Profile")) %>:</b>
        <%= @user.profile %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.language", :default => t("activerecord.labels.language", :default => "Language")) %>:</b>
        <%= @user.language %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.country", :default => t("activerecord.labels.country", :default => "Country")) %>:</b>
        <%= @user.country %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.role", :default => t("activerecord.labels.role", :default => "Role")) %>:</b>
        <%= @user.role.label %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.gender", :default => t("activerecord.labels.gender", :default => "Female")) %>:</b>
        <%= @user.gender %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.phone", :default => t("activerecord.labels.phone", :default => "Phone")) %>:</b>
        <%= @user.phone %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.last_login_at", :default => t("activerecord.labels.last_login_at", :default => "Last login at")) %>:</b>
        <%= @user.last_login_at %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.current_login_ip", :default => t("activerecord.labels.current_login_ip", :default => "Current login ip")) %>:</b>
        <%= @user.current_login_ip %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.user.last_login_ip", :default => t("activerecord.labels.last_login_ip", :default => "Last login ip")) %>:</b>
        <%= @user.last_login_ip %>
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
