<% announcements = Announcement.prioritize.viewable_only(current_user).active %>
<% if params[:controller] != "pages" || @page.show_announcements? %>
  <div id="announcements">
    <% if(announcements.size > 0) %>
      <div id="announcement-numbers">
        <% announcements.each_with_index do |announcement, i| -%>
          <% if announcement.url -%>
            <a href="<%= announcement.url %>" onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></a>
          <% else -%>
            <span onmouseover="changeAnnouncement(<%= i %>)"><%= i+1 %></span>
          <% end -%>
          <%= "|" unless i+1 == announcements.size %>
        <% end -%>
      </div>

      <% announcements.each_with_index do |announcement, i| -%>
      <div id="announcement<%= i+1 %>" class="announcement<%= ' announcement-tail' if i > 0 %>">
        <%= "<a href='#{announcement.url}'>" if announcement.url %>
        <img src="<%= announcement.avatar.url(:announcement) %>" alt="" />
        <%= "</a>" if announcement.url %>
        <%= "<a href='#{announcement.url}'>" if announcement.url %>
        <% if announcement.title && announcement.message %>
          <div class="announcement-text">
            <p class="title"><%= announcement.title %></p><p class="body"><%= announcement.message %></p>
          </div>
        <% end %>
        <%= "</a>" if announcement.url %>
      </div>
      <% end -%>

    <% else %>
      <p><%= t('announcements.none') %></p>
    <% end %>
  </div>
<% end %>

<% javascript_tag do %>
  window.onload = setTimeout(function() {
    announcementsRoutine(<%= announcements.size %>);
  }, 0);
<% end %>
