<div id="announcement<%= announcement_counter+1 %>" class="announcement-block <%= 'announcement-tail' if announcement_counter > 0 %>">
  <%= "<a href='#{announcement.url}'>" if announcement.url %>
  <img src="<%= announcement.avatar.url(:medium) %>" /></a>
  <%= "</a>" if announcement.url %>
  <%= "<a href='#{announcement.url}'>" if announcement.url %>
  <div class="announcement-text">
    <p class="title"><%= announcement.title %></p><p><%= announcement.message %></p>
  </div>
  <%= "</a>" if announcement.url %>
</div>
