<style>
#rotators {display:block;}
li.clickable {
	cursor:pointer;
}
li.next {
	border: 2px solid red;
}
li.previous {
	border: 2px solid blue;
}
li.not-visible {
	border: 2px solid green;
}
li.visible {
	border: 2px solid black;
	background: black;
	opacity: 30%;
	color: white;
}
</style>

<% announcements = Announcement.prioritize.viewable_only(current_user).active %>
<% if params[:controller] != "pages" || @page.show_announcements? %>
  <div id="announcements">
    <% if(announcements.size > 0) %>

      <% announcements.each_with_index do |announcement, i| -%>
      <div id="announcement<%= i+1 %>" class="announcement<%= ' announcement-tail' if i > 0 %>">
        <%= "<a href='#{announcement.url}'>" if announcement.url %>
        <img src="<%= announcement.avatar.url(:announcement) %>" alt="" />
        <%= "</a>" if announcement.url %>
      </div>
      <% end -%>

    <% else %>
      <p><%= t('announcements.none') %></p>
    <% end %>
  </div>
  <ul id="rotators">
    <% announcements.each_with_index do |announcement, i| -%>
      <% announcement_class = (i==0) ? "announcement-rotator visible" : (i==1) ? "announcement-rotator next clickable" : (i==announcements.size-1) ? "announcement-rotator previous clickable" : "announcement-rotator not-visible" %>
      <li id="rotator-<%= i+1 %>" class="<%= announcement_class %>"> 
        <% if announcement.title && announcement.message %>              
          <div class="announcement-rot-text">
            <p class="title"><%= announcement.title %></p><p class="body"><%= announcement.message %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>


