<div id="footer">
  <p>Copyright © <%= Time.now.year %> <%= link_to configatron.site_name, configatron.site_url %>. All rights reserved. Powered by <%= link_to 'Group Buddies', 'http://www.groupbuddies.com' %>.</p>

  <!--[if lt IE 8]>
    <p><%= t('footer.browser_warning') %></p>
  <![endif]-->

  <% if in_dev? %>
    <div id="render-time">
      rendered in <%= Time.now-@start_time %> seconds
    </div>
  <% end %>
</div>


