<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= yield(:page_title) || h(configatron.title)%></title>

  <%= stylesheet_link_tag    'shared/reset', :media => 'screen'%>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" id="theme">

  <%= stylesheet_link_tag    'smoothness/jquery-ui-1.8.7.custom',
                             'formtastic/formtastic',
                             'shared/formtastic-changes',
                             "/stylesheets/frontend", :cache => 'cache/frontend' %>

  <% @javascripts = ['strutil',
                    'jquery',
                    'jquery-ui.min',
                    'jquery.tmpl.min',
                    'announcements',
                    'ajax_calendar',
                    'utils']

     # This comes from the instance specific application layout
     if (defined? clocks_widget) && clocks_widget
       @javascripts << 'coolclock'
       @javascripts << 'initializers/clocks'
     end

     if (defined? sentir_saude_slider) && sentir_saude_slider
       @javascripts << 'slides.min.jquery'
     end

     @javascripts << 'application'

 %>

  <% if (defined? clocks_widget) && clocks_widget %>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
  <% end %>

  <%= javascript_include_tag @javascripts %>

  <%= yield :head %>
</head>
