<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= yield(:page_title) || h(configatron.title)%></title>

  <%= stylesheet_link_tag    'shared/reset', :media => 'screen'                                           %>
  <%= stylesheet_link_tag    'smoothness/jquery-ui-1.8.7.custom',
                             'formtastic/formtastic',
                             'shared/formtastic-changes',
                             "themes/#{configatron.theme}/frontend",           :cache => 'cache/frontend' %>

  <%= javascript_include_tag 'jquery',
                             'navigation_bar',
                             'strutil',
                             'jquery-ui-1.8.7.custom.min',
                             'announcements', 
                             'utils',                                          :cache => 'cache/frontend' %>

  <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid="<%= configatron.addthis_pubid %>"></script>

  <%= yield :head %>
</head>
