<%= render :partial => 'shared/layout_head' %>

<body>
  <div id="container">
    <div id="header-top">
      <div class="left-light-cream-bar"></div>

      <div class="secondary-wrapper">
        <div id="building-top-left"></div>
        <div id="building-top-right"></div>

        <div id="right-brown-bar">
          <span class="options">
            <% if logged_in? %>
              <% if @current_user.small_name %>
                <%= link_to @current_user.small_name, user_account_path                                            %> |
              <% else %>
                <%= link_to @current_user.email, user_account_path                                                 %> |
              <% end %>
              <% if permitted_to? :read, :admin_dashboard %>
                <%= link_to t('navigation.administration'), admin_root_path %> |
              <% end %>
              <%= link_to t('user_session.bar.logout'), user_logout_path                                           %>
            <% else %>
              <%= link_to t("user_session.bar.signin"), new_user_session_path                                      %> |
              <%= link_to t("user_session.bar.signup"), new_user_account_path                                      %>
            <% end %>
          </span>
      
          <a href="/"><div id="logo"></div></a>
        </div>
      </div>

      <div class="right-light-brown-bar"></div>
    </div>

    <div id="header-bottom">
      <div class="left-light-brown-bar"></div>

      <div class="secondary-wrapper">
        <div id="building-bottom-left"></div>
        <div id="building-bottom-right">
          <div id="right-cream-fade-bar"></div>

          <%= render :partial => 'announcements/announcement' %>
        </div>

        <div id="right-cream-bar"></div>
      </div>

      <div class="right-light-cream-bar"></div>
    </div>

    <div id="no-navigation">
      <div class="left-light-cream-bar"></div>
      <div class="right-light-brown-bar"></div>

      <div id="menu"><%= frontend_navigation_content %></div>
    </div>

    <div id="primary-wrapper">
      <div id="main" class="selfclear">
        <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
        <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
        <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

        <div id="content" class="<%= yield(:tag_cloud) ? 'double' : 'single' %>">
          <%= yield %>
        </div>
        <%= yield :tag_cloud %>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
