<% if File.exists?(Rails.root.join("app", "views", params[:controller], "_new_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'new_sidebar' %>
  <% end -%>
<% elsif File.exists?(Rails.root.join("app", "views", params[:controller], "_sidebar.html.erb")) %>
  <% content_for :sidebar do -%>
    <%= render :partial => 'sidebar' %>
  <% end -%>
<% end -%>

  <div class="content">
    <div class="inner">

      <h2><%= I18n::t('admin.pages.form.new') %></h2>
      
      <% semantic_form_for 'record',  @record,
                           :url => admin_pages_path,
                           :html => { :class => 'create', :id => 'new_page' } do |form| -%>

        <%= render :partial => 'form', :locals => {:form => form} %>

        <% form.buttons do -%>
          <%= form.commit_button I18n::t('admin.pages.form.save_button'),
                         :button_html => {:class => 'button positive'} %>
          <%= form.button_link t('admin.pages.form.preview_button'), "#",
                         :button_html => {:class => 'button positive'} %>
          <%= form.button_link t('admin.pages.form.edit_button'), "#",
                         :button_html => {:style => 'display: none;', :class => 'button positive'} %>
          <%= form.button_link t('admin.posts.form.cancel_button'), admin_pages_path,
                         :button_html => {:class => 'button negative'} %>
        <% end -%>

      <% end -%>
    </div>
  </div>

