<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", groups_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_group_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Groups</h2>
    <div class="inner">

		<table class="table">
  			<tr>
    			<th class="first"><%= t("groups.form.name",:default =>"Name") %></th>
    			<th><%= t("groups.form.description",:default =>"Description") %></th>
    			<th><%= t("groups.form.parent",:default =>"Parent") %></th>
    			<th><%= t("groups.form.mailable",:default =>"Mailable") %></th>
				<th class="last">&nbsp;</th>
  			</tr>

			<% for group in @groups %>
  			<tr class="<%= cycle("odd", "even") %>">
    			<td><%=h group.name %></td>
    			<td><%=h group.description %></td>
				<% if !group.parent_group.nil? %>
    				<td><%=h group.parent_group.name %></td>
				<% else %>
					<td> No parent </td>
				<% end %>	
    			<td><%=h group.mailable %></td>
    			<td class="last">
		            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", group_path(group) %> |
		            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_group_path(group) %> |
		            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", group_path(group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
		        </td>
  			</tr>
			<% end %>
		</table>

		<div class="actions-bar wat-cf">
    		<div class="actions"></div>
  		</div>
	</div>
  </div>
</div>


