<%= include_i18n_calendar_javascript %>

<script>
jQuery.noConflict();

jQuery(document).ready(function($){

  setDatepickerWithTime(true);

  if($("#record_has_message_").attr("checked") === false && $("#flash").text() === "" && $("#record_message").val() === "")
    $("#description").hide();
  else
  {
	$("#record_has_message_").attr("checked", "checked");
    $("#description").show();
  }

  $("#record_has_message_").click(function(){
    if($("#record_has_message_").attr("checked"))
	  $("#description").fadeIn('slow');
	else
	  $("#description").fadeOut('slow');
  });

});
</script>

<% form.input_field_set do -%>
  <%= form.input :title,
                 :required => true,  
                 :label    => I18n::t('admin.announcements.columns.title') %>
  <%= form.input :has_message,
                 :as => :check_boxes, 
                 :required => false, 
                 :collection => [""], 
 				 :label => t('admin.announcements.columns.hasMessage') %>
  <div id="description">
    <%= form.input :message,
                   :hint     => I18n::t('admin.announcements.form.hints.message'),
       			   :label    => I18n::t('admin.announcements.columns.message') %>
  </div>				
  <%= form.input :starts_at,
                 :as => :string,
                 :input_html => { :class => "datepicker", :value => l(@record.starts_at, :format => "%d/%m/%Y %H:%M") },
                 :label    => I18n::t('admin.announcements.columns.starts_at') %>
  <%= form.input :ends_at,
                 :as => :string,
                 :input_html => { :class => "datepicker", :value => @record.ends_at ? l(@record.ends_at, :format => "%d/%m/%Y %H:%M") : '' },
                 :label    => I18n::t('admin.announcements.columns.ends_at') %>
  <%= form.input :url,
                 :required => false,
                 :hint     => I18n::t('admin.announcements.form.hints.url'),
                 :label    => I18n::t('admin.announcements.columns.url') %>
  <%= form.input :avatar,
                 :required => false,
                 :hint     => I18n::t('admin.announcements.form.hints.avatar'),
                 :label    => I18n::t('admin.announcements.columns.avatar') %>
  <%= form.input :priority,
                 :as         => 'select',
                 :required   => false,
                 :collection => (1..99),
                 :selected   => @record.priority,
                 :label      => I18n::t('admin.pages.columns.priority'),
                 :hint       => I18n::t('admin.pages.form.hints.priority') %>
  
<% end -%>
