<%= include_i18n_calendar_javascript %>

<script>
jQuery.noConflict();

jQuery(document).ready(function($){

	setDatepickerWithTime(true);

	if(!$("#record_has_message_").is(":checked") && $("#flash").text() === "" && $("#record_message").val() === "")
		$("#description").hide();
	else
	{
		$("#record_has_message_").prop("checked", true);
		$("#description").show();
	}

	$("#record_has_message_").click(function(){
		if($("#record_has_message_").is(":checked"))
			$("#description").fadeIn('slow');
		else
			$("#description").fadeOut('slow');
	});

});
</script>

<% form.input_field_set do -%>
  <%= form.input :global_category,
                 :include_blank => false,
                 :label    => I18n::t('admin.announcements.columns.global_category') %>
  <%= form.input :title,
                 :required => true,
                 :label    => I18n::t('admin.announcements.columns.title') %>
  <%= form.input :has_message,
                 :as => :check_boxes,
                 :required => false,
                 :collection => [""],
                 :label => t('admin.announcements.columns.hasMessage') %>
  <div id="description">
    <%= form.input :message,
                   :hint     => I18n::t('admin.announcements.form.hints.message'),
                   :label    => I18n::t('admin.announcements.columns.message') %>
  </div>
  <%= form.input :starts_at,
                 :as => :string,
                 :input_html => { :class => "datepicker", :value => l(@record.starts_at, :format => "%d/%m/%Y %H:%M") },
                 :label    => I18n::t('admin.announcements.columns.starts_at') %>
  <%= form.input :ends_at,
                 :as => :string,
                 :input_html => { :class => "datepicker", :value => @record.ends_at ? l(@record.ends_at, :format => "%d/%m/%Y %H:%M") : '' },
                 :label    => I18n::t('admin.announcements.columns.ends_at') %>
  <%= form.input :url,
                 :required => false,
                 :hint     => I18n::t('admin.announcements.form.hints.url'),
                 :label    => I18n::t('admin.announcements.columns.url') %>
  <% if !@record.new_record? && @record.avatar_file_name -%>
    <div class="file_icon">
      <%=  file_icon_displayer(@record.avatar) %>
    </div>
  <% end -%>
  <% unless @record.new_record? || !@record.avatar? -%>
    <%= form.input :avatar_delete,
                   :as       => 'boolean',
                   :required => false,
                   :hint     => t('admin.announcements.form.hints.delete_avatar'),
                   :label    => t('admin.announcements.form.delete_avatar') %>
  <% end -%>
  <%= form.input :avatar,
                 :required => false,
                 :hint     => I18n::t('admin.announcements.form.hints.avatar'),
                 :label    => I18n::t('admin.announcements.columns.avatar') %>
  <%= form.input :priority,
                 :as         => 'select',
                 :required   => false,
                 :collection => (1..99),
                 :selected   => @record.priority,
                 :label      => I18n::t('admin.pages.columns.priority'),
                 :hint       => I18n::t('admin.pages.form.hints.priority') %>
  <%= form.input :group,
                 :required => false,
                 :as    => :radio,
                 :collection => Hash[*Group.all.collect {|group| [group.name,group.id]}.flatten].merge({"All"=>0}),
                 :label => t('admin.posts.columns.groups'),
                 :hint  => t('admin.posts.form.hints.groups') %>

<% end -%>
<% end %>
