<h4><%= I18n::t('admin.announcements.index.title') + ' - ' + @record.title %></h4>
  <dl>
  
    <dt><%= t("admin.announcements.columns.title")                 %></dt>
    <dd><%= @record.title                                          %></dd>
  
  <% if @record.starts_at                                          %>
    <dt><%= t("admin.announcements.columns.starts_at")             %></dt> 
    <dd><%= @record.starts_at                                      %></dd>
  <% end %>
  
  <% if @record.ends_at                                            %> 
    <dt><%= t("admin.announcements.columns.ends_at")               %></dt> 
    <dd><%= @record.ends_at                                        %></dd>
  <% end %>
  
  <% if @record.url                                                %> 
    <dt><%= t("admin.announcements.columns.url")                   %></dt> 
    <dd><%= link_to(@record.url, @record.url)                      %></dd> 
  <% end %>
  
  <% unless @record.avatar.path.nil?                               %> 
    <dt><%= t("admin.announcements.columns.avatar")                %></dt> 
    <dd><img src="<%= @record.avatar.url(:announcement) %>" alt="" /></dd> 
  <% end %>
  
  <% unless @record.message.blank?                                 %> 
    <dt><%= t("admin.announcements.columns.message")               %></dt> 
    <dd><%= @record.message                                        %></dd> 
  <% end %>
  
</dl>

<p class="form-footer">
  <%= link_to t("admin.announcements.index.close_button"), admin_announcements_path, :class => "cancel" %>  
</p>
