<% if (controller.action_name == "index") %>
  <div class="block">
    <div id="sidebar_head">
      <h5><%= t("admin.announcements.sidebar.title") %></h5>
    </div>
    <div class="content">
      <p><%= t("admin.announcements.sidebar.paragraph") %> </p>
    </div>
  </div>
<% end %>

<% if (controller.action_name == "show") %>
  <div class="block">
    <div id="sidebar_head">
      <h5><%= t("admin.announcements.sidebar.show.title") %></h5>
    </div>
    <div class="content">
      <p><%= t("admin.announcements.sidebar.show.paragraph") %> </p>
    </div>
  </div>
<% end %>

<% if (controller.action_name == "edit") %>
  <div class="block">
    <div id="sidebar_head">
      <h5><%= t("admin.announcements.sidebar.edit.title") %></h5>
    </div>
    <div class="content">
      <p><%= t("admin.announcements.sidebar.edit.paragraph") %> </p>
    </div>
  </div>
<% end %>
