<% content_for :head do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.7.custom' %>
<% end %>


<div class="content">
  <div class="inner">
    <h2><%= t('admin.announcements.form.edit') + ' - ' + link_to(h(@record.title), admin_announcement_path(@record)) %></h2>

    <% semantic_form_for :record, @record, 
                         :url => admin_announcement_path(@record), 
                         :html => { :method => :put, :id => "edit_announcement_#{@record.id}", :multipart => true } do |form| -%>

      <%= render :partial => 'form', :locals => { :form => form } %>

      <% form.buttons do -%>
        <%= form.commit_button t('admin.announcements.form.update_button'),
                               :button_html => { :class => 'button positive' } %>
        <%= form.button_link   t('admin.announcements.form.cancel_button'), admin_announcements_path,
                               :button_html => { :class => 'button negative' } %>
      <% end -%>
    <% end -%>
  </div>
</div>
